.dfe-cta {
    padding: 12px 30px;
    background-color: #c94922;
    text-decoration: none;
    font-weight: 600;
    color: #fff !important
}

.dfe-cta:focus {
    background-color: #d44e25;
    color: #0b0c0c !important
}

ul ul {
    margin:4px 0 0 16px;
}

code.textSnippet {
display: block;
    background: $color_dfe-grey-4;
    padding: 16px;
  font-family: Inter,sans-serif;
  color: #0b0c0c;
  font-size: 16px;
  overflow-x: visible;
  word-break: normal;
  margin-bottom: 24px;
  margin-top:-10px;
}