{% set community_of_practice = [
  {
    title: "Our user research community of practice",
    url: "/community-of-practice/"
  },{
    title: "Information for new starters",
    url: "/your-ur-career-at-dfe/information-for-new-starters.html"
  },{
    title: "Community of practice meetups",
    url: "/community-of-practice/community-meetups.html"
  },{
    title: "User research community Teams channels",
    url: "/community-of-practice/ur-community-channels.html"
  },{
    title: "Community initiatives and interest groups",
    url: "/community-of-practice/community-initiatives-and-interest-groups.html"
  },{
    title: "Leadership team",
    url: "/community-of-practice/leadership-team.html"
  },{
    title: "Research operations team",
    url: "/community-of-practice/research-operations.html"
  }
] %}


{% set your_career_at_dfe = [
  {
    title: "Your user research career at DfE",
    url: "/your-ur-career-at-dfe/"
  },{
    title: "Information for new starters",
    url: "/your-ur-career-at-dfe/information-for-new-starters.html"
  },{
    title: "Objectives, profession management and mentoring",
    url: "/your-ur-career-at-dfe/objectives-profession-management-and-mentoring.html"
  },{
    title: "Training and online resources",
    url: "/your-ur-career-at-dfe/training-and-online-resources.html"
  },{
    title: "Applying for DfE user research jobs",
    url: "/your-ur-career-at-dfe/applying-for-dfe-ur-jobs.html"
  }
] %}


{% set guidance__ethics_safeguarding = [
  {
    title: "Gaining informed consent",
    url: "/guidance/ethics-and-safeguarding/gaining-informed-consent.html"
  },{
    title: "Participant safeguarding",
    url: "/guidance/ethics-and-safeguarding/participant-safeguarding.html"
  },{
    title: "Psychological safety and researcher self-care",
    url: "/guidance/ethics-and-safeguarding/psychological-safety-and-self-care.html"
  },{
    title: "Reducing burden on DfE's users",
    url: "/guidance/ethics-and-safeguarding/reducing-burden-on-dfes-users.html"
  },{
    title: "Research with children and young people",
    url: "/guidance/ethics-and-safeguarding/research-with-children-and-young-people.html"
  },{
    title: "Research with internal users",
    url: "/guidance/ethics-and-safeguarding/research-with-internal-users.html"
  },{
  title: "Using social media in user research",
    url: "/guidance/ethics-and-safeguarding/using-social-media-in-user-research.html"
  },{
  title: "Get further advice on research ethics questions",
    url: "/guidance/ethics-and-safeguarding/ethics-advice.html"
  }

] %}
{% set guidance__civil_service = [
  {
    title: "User research in the civil service",
    url: "/guidance/user-research-in-the-civil-service/"
  },{
    title: "Researching in pre-election periods",
    url: "/guidance/user-research-in-the-civil-service/researching-in-pre-election-periods.html"
  }
] %}
{% set guidance__planning = [
  {
    title: "Writing a user research plan",
    url: "/guidance/planning/"
  }
] %}
{% set guidance__personal_data = [
  {
    title: "Introduction to managing personal data in user research",
    url: "/guidance/how-to-manage-participant-personal-data/"
  },{
    title: "What to do when planning a project or phase",
    url: "/guidance/how-to-manage-participant-personal-data/planning-project-or-phase.html"
  },{
    title: "Collecting personal data during your research",
    url: "/guidance/how-to-manage-participant-personal-data/collecting-data-during-your-research.html"
  },{
    title: "Using lists of people for participant recruitment",
    url: "/guidance/how-to-manage-participant-personal-data/using-lists-for-recruitment.html"
  },{
    title: "Anonymising UR personal data",
    url: "/guidance/how-to-manage-participant-personal-data/anonymising-personal-data.html"
  },{
    title: "After your research is finished",
    url: "/guidance/how-to-manage-participant-personal-data/after-research-is-finished.html"
  }
] %}
{% set guidance__recruiting_particpants = [
  {
    title: "Recruiting participants yourself (self-recruitment)",
    url: "/guidance/recruiting-participants/self-recruitment.html"
  },{
    title: "Using a commercial agency to recruit participants",
    url: "/guidance/recruiting-participants/commercial-agency.html"
  },{
    title: "Using or building a panel to recruit participants",
    url: "/guidance/recruiting-participants/recruitment-panels.html"
  },{
    title: "Paying incentives",
    url: "/guidance/recruiting-participants/paying-incentives.html"
  }
] %}
{% set guidance__inclusive_research = [
  {
  title: "Inclusivity in user research",
    url: "/guidance/inclusive-research/"
  },{
    title: "Research with users with access needs",
    url: "/guidance/inclusive-research/research-users-access-needs.html"
  },{
    title: "Research with people who speak limited or no English and sign language users",
    url: "/guidance/inclusive-research/limited-english-and-sign-language.html"
  }
] %}
{% set guidance__working_with_ur_in_team = [
  {
    title: "What user researchers do",
    url: "/guidance/working-with-a-ur-in-your-team/what-user-researchers-do.html"
  }
] %}
{% set guidance__surveys = [
  {
    title: "Surveys, survey tool and survey champions",
    url: "/guidance/survey-design-champions"
  }
] %}
{% set guidance__recruiting_urs = [
  {
    title: "Recruiting a user researcher for your team",
    url: "/guidance/recruiting-urs/recruiting-a-user-researcher.html"
  },{
    title: "Contractors and statements of work",
    url: "/guidance/recruiting-urs/contractors-and-statements-of-work.html"
  }
] %}


{% set templates_and_tools = [
  {
    title: "Templates, examples and resources library",
    url: "/templates-and-tools/"
  },{
    title: "Tools for user research available to use in DfE",
    url: "/templates-and-tools/specialist-software-and-hardware/"
  },{
    title: "Using third-party research labs",
    url: "/templates-and-tools/using-third-party-research-labs/"
  }
] %}


{% set research_insight = [
  {
    title: "Finding existing user research insight",
    url: "/research-insight/"
  },{
    title: "Other sources of insight, evidence and data",
    url: "/research-insight/other-insight-sources.html"
  }
] %}






<nav class="dfe-vertical-nav">

  {%- if selectedNav === "Community of practice" %}

  <ul class="dfe-vertical-nav__section">
    {% for item in community_of_practice %}
      <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  {% endif %}

  {%- if selectedNav === "Your career" %}

  <ul class="dfe-vertical-nav__section">
    {% for item in your_career_at_dfe %}
      <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  {% endif %}
  

  {%- if selectedNav == "Guidance" %}
  {% endif %}

  {%- if selectedNav == "Templates and tools" %}
    <ul class="dfe-vertical-nav__section">
      {% for item in templates_and_tools %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {%- if selectedNav == "Research insight" %}
    <ul class="dfe-vertical-nav__section">
      {% for item in research_insight %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

</nav>

