{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Guidance library" %}
{% set pageDescription = "Guidance and advice about how we plan and deliver user research in DfE." %}
{% set zeroMainMargin = "true"%}

{% block content %}

{% markdown %}

<style>
table th:first-child { width:33%; }
table th:last-child { width:20%; }
table tr td:first-child { font-weight: bold;}
</style>

<section style="background: #ebf2f6;">
  <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="govuk-width-container" style="padding:40px 0 80px 0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

<div class="govuk-!-margin-top-0" style="margin-bottom:30px; background: #e6f0f5;">
  <div class="dfe-width-container" style="padding: 20px 40px 4px;">
    <p>We are currently reviewing and rewriting all of our guidance content to ensure it is up to date and to make it more usable. As we do this, this index page will be split into two sections. Updated guidance appears first on this page, with content we've not yet reviewed underneath.</p>
  </div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/guidance/incentives-26/">Incentives</a></h2>
<p>When you can and can't use incentives in DfE user research, and how to buy them.</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/guidance/informed-consent-26/">Informed consent</a></h2>
<p>How to gather and store informed consent, to ensure user research participants understand and have control over what they're agreeing to.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/guidance/personal-data-management-26/">Personal data</a></h2>
<p>How to compliantly and ethically collect, store, use and share personal data gathered in user research.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/guidance/pre-election-periods-26/">Pre-election period</a></h2>
<p>How to assess risks and get approval to conduct user research in the weeks before an election.</p>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="margin-top:80px">

## Guidance articles currently being reviewed

You should still follow the guidance in these pages, but be aware that they are under review and the guidance may change in the future. We will announce changes in the user research community DfE Teams channel as they are published.

### Ethical research and safeguarding

| Guidance | Details | 
|---------------|---------------|
| <a href="/guidance/ethics-and-safeguarding/participant-safeguarding.html">Participant safeguarding</a> | Advice on keeping particpants safe during research, and what to do if you have a safeguarding concern |
| <a href="/guidance/ethics-and-safeguarding/psychological-safety-and-self-care.html">Psychological safety and researcher self-care</a> | Keeping yourself and your colleagues psychologically safe during and after research |
| <a href="/guidance/ethics-and-safeguarding/reducing-burden-on-dfes-users.html">Reducing burden on DfE's users</a> | Ensuring we always use our users' time well, and don't create a burden |
| <a href="/guidance/ethics-and-safeguarding/research-with-children-and-young-people.html">Research with children and young people</a> | Guidance and ideas to help you plan and conduct research with children and young people successfully, safely and ethically |
| <a href="/guidance/ethics-and-safeguarding/research-with-internal-users.html">Researching with internal users</a> | Ethical risks and considerations when researching with colleagues and other internal staff |
| <a href="/guidance/ethics-and-safeguarding/using-social-media-in-user-research.html">Using social media in user research</a> | Ethical considerations and constraints when using social media for user research |
| <a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get further advice on research ethics questions</a> | How to get answers to questions not covered on this website, from experienced DfE user researchers |


### Inclusive research

| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/inclusive-research/">Inclusivity in user research</a> | Why it is important to include all types of people in our research, and tips for doing this |
| <a href="/guidance/inclusive-research/research-users-access-needs.html">Research with users with access needs</a> | Planning and delivering research with people with access needs |
| <a href="/guidance/inclusive-research/limited-english-and-sign-language.html">Research with people who speak limited or no English and sign language users</a> | Considerations and practical advice to plan and conduct user research with people who speak limited or no English, including sign language users. |
  

### Planning user research

| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/planning/">Writing a user research plan</a> | How to create an effective user research plan |
  
  
### Recruiting particpants for research

| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/recruiting-participants/self-recruitment.html">Recruiting participants yourself (self-recruitment)</a> | Rules and guidance for when doing your own participant recruitment |
| <a href="/guidance/recruiting-participants/commercial-agency.html">Using a commercial agency to recruit participants</a> | How to access DfE's contracted commercial supplier, and other suppliers |
| <a href="/guidance/recruiting-participants/recruitment-panels.html">Using or building a recruitment panel to recruit participants</a> | Rules and guidance for building and using participant recruitment panels in DfE |
<!--
| <a href="/guidance/recruiting-participants/paying-incentives.html">Paying incentives</a> | How to decide whether to pay incentives to DfE particpants, and how to buy them | <span class="govuk-tag govuk-tag--blue">Beta</span> |
-->

### Recruiting user researchers into DfE (civil servants and contractors)

| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/recruiting-urs/recruiting-a-user-researcher.html">Recruiting a user researcher for your team</a> | Rules, support and templates for planning a recruitment campaign for a civil servant UR |
| <a href="/guidance/recruiting-urs/contractors-and-statements-of-work.html">Managed service contractors and statements of work</a> | Planning for success when bringing in managed service user researchers |
    

### Surveys, survey tool and survey champions
| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/survey-design-champions">Surveys, survey tool and survey champions</a> | Rules, support and templates for planning a recruitment campaign for a civil servant UR |


### User research in the civil service

| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/user-research-in-the-civil-service/index.html">Doing user research under the Civil Service code</a> | Constraints and considerations that you must consider while delivering research in the civil service |

### Working with a user researcher in your team

Guidance for delivery managers, and other team members working with a user researcher.

| Guidance | Details |
|---------------|---------------|
| <a href="/guidance/working-with-a-ur-in-your-team/what-user-researchers-do.html">What user researchers do</a> | Understanding what user researchers do in DfE, and what they will bring to your team |


</div>
</div>
</div>
</section>


{% endmarkdown%}

{% endblock %}