{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Guidance" %}
{% set isGuidance = true %}

{% set pageDescription = "When you can use incentives in DfE user research, and how to purchase them" %}

{% set guidanceTopic = "Using incentives" %}
{% set guidancePageName = "How to purchase monetary incentives" %}
{% set seoPageName = guidanceTopic + " - " + guidancePageName %}

{% set pageRoot = "/guidance/incentives-26/" %}

{% set prevLinkText = "Value of monetary incentives you can offer" %}
{% set prevLinkURL = pageRoot + "5.html" %}


{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}index.html">Overview</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}2.html">Types of incentive you can offer in DfE user research</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}3.html">How to decide whether to offer incentives</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}4.html">User groups you can and can't offer monetary incentives to</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}5.html">Value of monetary incentives you can offer</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  How to purchase monetary incentives
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

Follow the guidance below to purchase monetary incentives from our supplier via the research operations team.

<div class="govuk-inset-text">
<p>If you are recruiting participants using a specialist recruitment supplier, they will provide incentives as part of their service. You do not need to buy them separately.</p>
</div>

The cost of the incentives will be paid by your team. You will need to raise a purchase order (PO) and provide this to research operations.

The incentives you can buy are shopping vouchers and charity donations. The vouchers can be sent by email or printed and handed to a participant.

You must only use our approved suppliers to buy monetary incentives. In exceptional circumstances (e.g. you need a different type of incentive not provided by our normal supplier, or you need an unusually large volume) you may need to use a different supplier. This must be agreed with research operations and approved in writing by the head of user research.

### Incentives for non-UK participants

There is a different process to buy incentives for non-UK based participants. Speak to research operations about this.

### Step by step process to purchase monetary incentives

#### 1. Calculate how much your incentives will cost to buy

Use this tool (Excel spreadsheet, DfE users only) to calculate the cost of your incentives:

<a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvewp00449/WorkplaceDocuments/2. Templates and resources/Participant recruitment/Recruitment supplier templates and process/Incentive calculator for edenred.xlsx?d=wc31dfd7b0b664990947299246cc64f83&csf=1&web=1&e=704Iwa">Incentives cost calculator (Excel document, DfE SharePoint users only)</a>


You can buy up to 50 incentives in one order.

#### 2. Get budget approval and raise a purchase order

<div class="govuk-inset-text">
Do this step well in advance of your research. Note that the process and time required to raise a purchase order (PO) varies across different DfE business areas. Ask your delivery manager or a finance colleague in your business area for advice.
</div>

You must raise a purchase order for the total cost of the incentives you want to buy.

Your project or programme will pay for the incentives, so first confirm with your delivery manager that you have available budget.

The person responsible for your project budgets will approve the purchase. This is usually your Deputy Director.

You will need two pieces of information:

- Jaeggar contract code: con_30852
- Supplier details: Reward Gateway (UK) Ltd, Third Floor, 1 Dean Street, London W1D 3RB

Note that if your finance team can't find the supplier in DfE finance systems, tell them to search for "Edenred" instead of "Reward Gateway" (checking that the address is exactly as shown above). This is because the supplier is listed under both names in different DfE systems.

For help with this step, speak to your delivery manager or a finance colleague in your business area. There is also related guidance on the intranet:

[Paying for goods and services](https://educationgovuk.sharepoint.com/sites/commercial-and-procurement/SitePages/Pay-for-goods-and-services.aspx).


#### 3. Send your request to Research Operations 

<div class="govuk-inset-text">
Do this step at least 5 working days before your research.
</div>

You'll need to include or upload:

- Information about you, your team and the user group(s) you're incentivising
- Your research dates
- The incentive value
- The number of incentives you're buying (maximum 50)
- The purchase order PDF
- Name of the purchase order requestor
    - This is the person (you or somebody else in your business area) whose name is on the purchase order. They will receive the invoice and are responsible for arranging payment, and for answering any queries

<a href="https://forms.office.com/e/Z0W1ShqD1w" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Send your request
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

### What happens next

Research operations will get in touch with you to confirm your order and to discuss how and when you want the incentives to be sent to participants. They will then purchase the incentives on your behalf.

The invoice will be emailed to the person you named as the purchase order requestor. This person is responsible for ensuring the invoice is paid on time.

Contact research operations with any questions throughout the process.

<div class="govuk-inset-text">
<p>This is a new service, and this guidance may change slightly over time as we make improvements and learn more about working with our new supplier.</p>
</div>




{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<h3 class="govuk-heading-s govuk-!-padding-top-3">Further help and advice</h3>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a class="govuk-link" href="/community-of-practice/leadership-team">Lead user researchers and head of user research</a>
  </li>
  <li><a class="govuk-link" href="/community-of-practice/research-operations">Research operations team</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




