{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Community of practice meetups" %}
{% set pageDescription = "Regularly meeting as a community, to learn together and spend time with other user researchers." %}

{% block content %}

{% markdown %}

Twice a month, we meet as a community of user researchers, to learn from and support each other, hear DfE and external speakers talk about user research topics, share experiences and best practice, and help develop our UR practice. We have monthly national meetups, and we have 2 smaller monthly regional meetups.

If you don't receive calendar invites during your first week at DfE, <a href="/community-of-practice/research-operations.html">contact Research Operations</a> who will add you.

| __Local community__ | __When__ |
|---------------|---------------|
| __National__ | First Thursday of the month,<br/> 1-2 pm |
| __North__ | Third Thursday of the month,<br/> 1-2pm |
| __South and Midlands__ | Third Thursday of the month,<br/> 4-5 pm |

Our meetups are run as hybrid sessions: we really encourage you to come together in person with colleagues in your office location, but you can also join remotely over Teams.

The content of local meetings differs depending on which you attend. Each local community has its way of doing things, and its own personality.

Some of our smaller offices don't have enough user researchers to build a local community. If you're in Darlington, Newcastle, Nottingham or another DfE office, contact Chardai Brice to discuss which other local community would be best for you to join remotely.

Some sessions are recorded to give everyone in the community a chance to access the content. <a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EkrHMAWaGLRHrbH4QQhRk2gBNhCtNEznsO9xyJW9KeocVg?e=ym8CSN" target="_blank"> Watch recordings of previous meetups (opens in a new tab, DfE SharePoint users only)</a>.

## Present at a community of practice meetup

We're always looking for user researchers to share their work and experience at a community meetup. <a href="/community-of-practice/leadership-team.html">Contact the head of user research</a> to learn more about how we can support you to deliver a great session.

### Help run our community meetups

Our community organisers organise and plan content for our national and local meetups. We all come together once or twice a year with the head of user research to develop our overall community strategy.

Everyone is welcome to get involved in this group, to help organise and steer the future of our national and local meetups. <a href="/community-of-practice/leadership-team.html">Contact the head of user research, Tom Adams</a>.

Each local community has a community lead or team to plan the sessions: becoming an active member is a good way of shaping how your local community does things.  


## Cross government user research community

There is also a <a href="https://userresearch.blog.gov.uk/cross-government-user-research-meetups/"> cross-government user research communities</a> that publishes blog content and holds occasional meetups and show and tells. 



{% endmarkdown%}

{% endblock %}