{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Community of practice meetups" %}
{% set pageDescription = "Regularly meeting as a community, to learn together and spend time with other user researchers." %}

{% block content %}

{% markdown %}

We have an active and friendly DfE user research community of practice. We come together in community of practice meetups, working groups and other groups to:

- Share our knowledge and skills
- Keep up to date with what's happening across DfE user research
- Develop our professional practice
- Hear from guest speakers

## Profession time

Every Thursday 2-3:30pm is protected time spent outside of our day-to-day team and portfolio, to spend on UR community activities and professional development. Every user researcher (including civil servants and managed service/contingent workers) is entitled to this time.

We use this time for:

- Community of practice meetups
- Working groups and other activities to help develop our UR practice and capability across DfE
- Self-directed learning
- Ad-hoc training, learning and other community sessions across the year

## Community of practice meetups

Twice a month, we meet as a community of user researchers to learn from and support each other, hear DfE and external speakers talk about user research topics, share experiences and best practice, and help develop our UR practice. We have monthly national meetups for all user researchers and 2 smaller monthly regional meetups.

If you don't receive calendar invites during your first week at DfE, <a href="/community-of-practice/research-operations.html">contact Research Operations</a> who will add you.

| __Local community__ | __When__ |
|---------------|---------------|
| __National__ | Second Thursday of the month,<br/> 2-3pm |
| __North__ | Fourth Thursday of the month,<br/> 2-3pm |
| __South and Midlands__ | Fourth Thursday of the month,<br/> 2-3pm |

Our meetups are run as hybrid sessions: we really encourage you to come together in person with colleagues in your office location, but you can also join remotely over Teams.

<a href="https://educationgovuk.sharepoint.com/:f:/s/lvewp00449/EkrHMAWaGLRHrbH4QQhRk2gBNhCtNEznsO9xyJW9KeocVg?e=ym8CSN" target="_blank"> Watch recordings of previous meetups (opens in a new tab, DfE SharePoint users only)</a>.

### Present at a DfE user research community of practice meetup

We're always looking for user researchers inside or outside of DfE to share your work and experiences. These sessions can be talks, workshops or any other type of session that can be delivered over Teams. We can also support you to plan deliver a great session, if this isn't something you've done before.

<a href="/community-of-practice/leadership-team.html">If you have an idea for a talk or other session, contact the head of user research, Tom Adams.</a>

### Help run our community meetups

Our community organisers organise and plan content for our national and local meetups. We all come together once or twice a year with the head of user research to develop our overall community strategy.

Everyone is welcome to get involved in this group, to help organise and steer the future of our national and local meetups. 

<a href="/community-of-practice/leadership-team.html">Contact the head of user research, Tom Adams, to get involved in planning and running our meetups</a>.

## Working groups



## Cross government user research community

There is also a <a href="https://userresearch.blog.gov.uk/cross-government-user-research-meetups/"> cross-government user research communities</a> that publishes blog content and holds occasional meetups and show and tells. 



{% endmarkdown%}

{% endblock %}