{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Community initiatives and interest groups" %}
{% set pageDescription = "Community groups formed around devloping our profession - or just for fun and shared interests." %}

{% block content %}

{% markdown %}

Whatever your interest in user research, there are other researchers in our large UR community who share it. We come together in groups with shared interests, sometimes as voluntary working groups developing our profession and defining best practice, and sometimes purely for fun and interest, talking about topics with like-minded colleagues.

For civil servant user researchers, actively contributing to one of these groups could form your profession objective.

If you don't see a group formed around your interest, then why not start it yourself? Use our community Slack channels to find people who share the interest, get together, and <a href="/community-of-practice/leadership-team.html">let the head of user research know if you start a new group, so we can add it to this page</a>.


## Working groups

These are groups of URs who come together to develop our best practice around a single, complex topic or theme in user research. Their goals are to:

* be an engaging, interesting and inclusive space to discuss, debate, experiment, share experience and learn
* define and agree DfE user research best practice and principles
* define and create assets (like guidance, templates, training etc) to help URs meet best practice

They are led and coordinated by one or two user researchers. The group agrees its scope, direction and strategic priorities together, supported by the head of UR.

Any user researcher can join and contribute to a working group. For civil servant URs, this can form one of your objectives.

### AI in user research working group

Exploring how Artificial Intelligence (AI) can make user research more efficient, inclusive, and impactful, while staying ethical and human-centred. This working group aims to provide the UR community with the capability, skillset and knowledge needed to comfortably use AI as a tool to support user research activities. 

Contact Mark Smith or Tobias Stadler in DfE Teams to join the group or find out more.

### Ethics advisory group

A group of DfE user researchers who give peer advice about ethics or safeguarding questions to any other user researcher working in DfE.

<a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get advice from the ethics advisory group</a>

Contact Wendy Moran in DfE Teams to join the group or find out more.

### Inclusive research working group

This working group has been formed to understand how we can be more inclusive in our research activities, understanding what “doing inclusive research” means and what might be blocking us from doing more of it.

Contact Vale Mazzi or Adam Dumbell in DfE Teams to join the group or find out more.


### Informed consent working group

We want to be sure that every participant who takes part in DfE user research is fully informed about the research, and has been able to give proper consent, in all situations.

A working group has been formed to answer the question: "what do we need to ensure that URs understand how to inform participants and gather consent from them in appropriate ways, and have the guidance, support or tools they need to do this?"

Contact Solène Heinzl in DfE Teams to join the group or find out more.

### Internal user research

Developing best practice, insights and tools to support user research with internal DfE users.

Contact Sarah O'Donnell in DfE Teams to join the group or find out more.


## Interest groups

Interest groups are self-formed and self-directed by user researchers in our community, sometimes alongside colleagues from other professions. They are normally formed around a single topic, and (unlike working groups) they don't necessarily have a defined goal or output (although members may decide that they want to create something, for example a standard or guidance). They exist for us to come together and talk with like-minded friends about the topics that interest us.

### Quantitative user research interest group 

The group aims to bring user researchers together interested in quantitative approaches to user research, to share and learn practical quantitative methods for data collection & analysis. 

The group meets the last Thursday of the month, 2.30-3.30pm. 

Contact Amilcar Johnson, Denny Vlaeva or Elena Bracey to find out more</a>.

### Starting an interest group

If you don't see a group formed around your interest, then why not start it yourself? Use our <a href="app/views/community-of-practice/ur-community-channels.html">community Teams channels</a> to find people who share the interest, and then get together!

Please let Tom Adams, the head of user research, know if you start a new group, so we can add it to this page, and ask Tom if you need any support or advice when setting up your group. 



{% endmarkdown %}

{% endblock %}