{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community" %}
{% set pageName = "How we're developing UR at DfE" %}
{% set pageDescription = "Our vision for the user research practice at DfE, and how we'll get there." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

Our goal is for Department for Education to be the best place in government to be a user researcher.

We are building the right environments, tools and support for user researchers do their work, and develop their careers. If we do this, we will deliver research that is truly impactful, delivering better services to our users.

To achieve this, we work as a leadership team, research operations team and an active, engaged community of user researchers to constantly develop our profession: developing our practice, defining and agreeing our standards, processes and givernance, creating guidance and providing support, and maturing how the wider department thinks about user research and supports its user researchers. We also collaborate with colleagues in other government departments, to share best practice and learn from each other.

It is important to us that we work in the open. <a href="https://lucid.app/lucidspark/314377ee-279f-446b-af87-49d2e9c3d75c/edit?viewport_loc=9269%2C3213%2C13582%2C7766%2C0_0&invitationId=inv_59a5f907-239b-46c1-a887-deb3e15271f9">Our roadmap and priorities are public, viewable by anybody</a>, and the guidance and standards we create (unless sensitive or otherwise something we can't talk about publicly) will be published on this website.

Our roadmap is organised into three themes:

<ol class="dfe-list--number" style="padding-left:20px">
<li>Enable user researchers to learn skills and develop their careers, while being well supported as they work
<li>Enable user researchers to deliver impactful and inclusive user research, ethically and safely
<li>Enable user researchers to research effectively and productively, delivering impact without wasted effort
</ol>

Our head of user research Tom Adams is responsible for developing and delivering our profession roadmap, and our overall plan to develop user research at DfE.

{% endmarkdown %}

{% endblock %}