{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Our user research community of practice" %}
{% set pageDescription = "Our people, community meetups and groups, and how we're developing user research capability across the department." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

When you join DfE, you're joining a friendly group of passionate professionals, who want to deliver great research for our teams, and make a real difference to the users of DfE services and policies. It's our goal to make Department for Education the best place in government to be a user researcher and our active and supportive community of practice is a big part of that.

We regularly come together in community of practice meetups, have active and friendly Teams channels, and various community initiatives, working groups and interest groups to get involved in.

### New starters - onboarding

When you start with DfE as a user researcher, make sure you join the <a href="https://teams.microsoft.com/l/team/19%3AAWZZ_PNrIONyM4fVhBwFTkWOTWuzy69dkLCL73LTOAs1%40thread.tacv2/conversations?groupId=1d4fe322-a6c8-4727-9a9c-bf682657ffe9&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">user resaerch community Teams channel (opens in a new tab, DfE Teams users only)</a>.

You will be contacted by research operations and added to an onboarding session with the head of user research, covering our user research policies and standards, and where you can get help and advice.

### Find a DfE user researcher

We keep a <a href="https://educationgovuk.sharepoint.com/:l:/r/sites/lvewp00449/Lists/Community%20List%20New?e=SbcKnT" target="_blank">list of all user researchers currently working in the Department (opens in a new tab, DfE SharePoint users only)</a>.

<section class="dfe-width-container" style="padding: 0px 0px 0px 0px; margin:0 0 40px 0;">
  <div class="govuk-!-margin-top-0" style="background: #e6f0f5;">
    <div class="dfe-width-container" style="padding: 20px 40px;">
       <div class="govuk-grid-row">
             <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                <img src="/assets/images/user-research-mission-patch.png" style="float:right; width:200px; rotate: 10deg;" alt="Badge showing an otter with a magnifying glass, surrounded by the words 'Department for Education User Research Community'">
                Our UR community principles for delivering great user research
            </h2>
            <p>Together we created a set of principles describing how we deliver our best work as DfE user researchers.</p>
            <p>These principles are:</p>
            <ol class="dfe-list--number" style="padding-left:30px">
              <li>We include all of our users, and bring them to the heart of the department’s work</li>
              <li>We are objective and use evidence</li>
              <li>We do high quality, safe and ethical research</li>
              <li>We are adaptable and collaborative, and focus our research in the right places</li>
              <li>We learn as a community and by ourselves</li>
              <li>We celebrate our work, and help others understand what we do</li>
            </ol>
            <p>We used these principles to design our mission patch sticker, which shows an otter looking for insights. Like us, otters are collaborative, adaptable, and effective as individuals with a strong sense of community.</p>
            <p><a href="/community-of-practice/leadership-team.html">Get a mission patch laptop sticker from the head of user research</a>.
       </div>
    </div>
  </div>
</section>

{% endmarkdown %}

{% endblock %}