{% extends "layouts/detailed-guide.html" %}

{% set selectedNav = "Community of practice" %}

{% set pageDescription = "When you can use incentives in DfE user research, and how to purchase them" %}

{% set guidanceTopic = "Community of practice and profession leadership" %}
{% set guidancePageName = "Overview" %}
{% set seoPageName = guidanceTopic %}

{% set pageRoot = "/community-of-practice/" %}

{% set nextLinkText = "Types of incentive you can offer in DfE user research" %}
{% set nextLinkURL = pageRoot + "2.html" %}

{# --------- Contents links ------------------------------------------------------ #}
{% block contents %}
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  Overview
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}2.html">xxxxxx</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}3.html">xxxxxx</a>
</li>
<li style="list-style-type:'&mdash;'; padding-left:10px; margin-bottom:0.4em;">
  <a href="{{pageRoot}}4.html">xxxxxx</a>
</li>
{% endblock %}

{# --------- Main page content -------------------------------------------------- #}
{% block content %}
{% markdown %}

When you join DfE as a user researcher, you're joining an active, friendly and supportive group of passionate professionals, who want to deliver great research for our teams and make a real difference to the users of DfE services and policies.

It's our goal to make Department for Education the best place in government to be a user researcher.

We regularly come together in community of practice meetups, have active and friendly Teams channels, and various working groups and other groups to get involved in. We also have an active leadership team to support you and lead the development of our professional practice.

Most user research community activity takes place on Thursday afternoons, 2pm - 3:30pm, known as profession time. 

We keep a <a href="https://educationgovuk.sharepoint.com/:l:/r/sites/lvewp00449/Lists/Community%20List%20New?e=SbcKnT" target="_blank">list of all user researchers currently working in the Department (opens in a new tab, DfE SharePoint users only)</a>.

<section class="dfe-width-container" style="padding: 0px 0px 0px 0px; margin:0 0 40px 0;">
  <div class="govuk-!-margin-top-0" style="background: #e6f0f5;">
    <div class="dfe-width-container" style="padding: 20px 40px;">
       <div class="govuk-grid-row">
             <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                <img src="/assets/images/user-research-mission-patch.png" style="float:right; width:200px; rotate: 10deg;" alt="Badge showing an otter with a magnifying glass, surrounded by the words 'Department for Education User Research Community'">
                Our UR community principles for delivering great user research
            </h2>
            <p>Together we created a set of principles describing how we deliver our best work as DfE user researchers.</p>
            <p>These principles are:</p>
            <ol class="dfe-list--number" style="padding-left:30px">
              <li>We include all of our users, and bring them to the heart of the department’s work</li>
              <li>We are objective and use evidence</li>
              <li>We do high quality, safe and ethical research</li>
              <li>We are adaptable and collaborative, and focus our research in the right places</li>
              <li>We learn as a community and by ourselves</li>
              <li>We celebrate our work, and help others understand what we do</li>
            </ol>
            <p>We used these principles to design our mission patch sticker, which shows an otter looking for insights. Like us, otters are collaborative, adaptable, and effective as individuals with a strong sense of community.</p>
            <p><a href="/community-of-practice/leadership-team.html">Get a mission patch laptop sticker from the head of user research</a>.
       </div>
    </div>
  </div>
</section>



{% endmarkdown%}
{% endblock %}

{# --------- Related content (right-hand column) -------------------------------- #}
{% block related %}
{% markdown %}

<h3 class="govuk-heading-s govuk-!-padding-top-3">Further help and advice</h3>
<ul class="govuk-list govuk-list--spaced govuk-body-s">
  <li><a class="govuk-link" href="/community-of-practice/leadership-team">Lead user researchers and head of user research</a>
  </li>
  <li><a class="govuk-link" href="/community-of-practice/research-operations">Research operations team</a>
  </li>
</ul>

{% endmarkdown%}
{% endblock %}




