{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Leadership team" %}
{% set pageDescription = "Our user research profession leadership team, what they do, and how to contact them." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->


<div class="govuk-grid-row" style="margin-bottom: 40px;">
  <div class="govuk-grid-column-full">
    <div class="dfe-grid-container" style="grid-template-columns: repeat(auto-fill,minmax(250px,1fr));">
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/tom.webp" type="image/webp">
          <img src="/assets/images/tom.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Tom Adams
          </h2>
          <p>Head of user research</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=tom.adams@education.gov.uk" target="_blank">Contact Tom in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U0205APU74K" target="_blank">Contact Tom in cross-government Slack (opens in a new tab)</a></p>
          <p><a href="mailto:tom.adams@education.gov.uk">Email Tom</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/annaliese.webp" type="image/webp">
          <img src="/assets/images/annaliese.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Annaliese Lamb
          </h2>
          <p>Lead user researcher, Strategy and Transformation</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=annaliese.lamb@education.gov.uk" target="_blank">Contact Annaliese in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U03BW46JMLG" target="_blank">Contact Annaliese in cross-government Slack (opens in a new tab)</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/charly.webp" type="image/webp">
          <img src="/assets/images/charly.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Charly Dalby
          </h2>
          <p>Lead user researcher, Schools Digital</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=charly.dalby@education.gov.uk" target="_blank">Contact Charly in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/ULRS9EEJU" target="_blank">Contact Charly in cross-government Slack (opens in a new tab)</a></p>
          </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/ella.webp" type="image/webp">
          <img src="/assets/images/ella.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Ella Beaumont
          </h2>
          <p>Lead user researcher, Vulnerable Children and Families</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=ella.beaumont@education.gov.uk" target="_blank">Contact Ella in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U01V4QTTKKM" target="_blank">Contact Ella in cross-government Slack (opens in a new tab)</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/will.webp" type="image/webp">
          <img src="/assets/images/will.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Will Finn
          </h2>
          <p>Lead user researcher, Schools Digital</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=will.finn@education.gov.uk" target="_blank">Contact Will in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/U035AV4PUNN" target="_blank">Contact Will in cross-government Slack (opens in a new tab)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

As head of user research, Tom's job is to develop our professional capability across the department, and create a culture and working practices that encourage and enable great user research that meets the highest professional standards. Tom owns and is responsible for delivering our profession strategy and roadmap.

He advocates for user research in the department, and also joins up with other heads of user research to do this cross-government.

As lead user researchers, Annaliese, Charly, Ella and Will are responsible for the user research in a single area of DfE. They ensure and support their user researchers to deliver high quality insights into their teams and services, meet our professional standards, and to come together to share their insight and build a single user-centred picture of our different user groups.

{% endmarkdown %}

{% endblock %}