{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Our UR community principles" %}
{% set pageDescription = "How we know we're delivering great user research" %}

{% block content %}

{% markdown %}

Together we created a set of principles describing how we deliver our best work as one community of DfE user researchers.

These help us understand what 'best practice' looks like, helping us deliver the highest quality work in the best possible way, developing our careers and the overall user research capability in the department while we do it.

<h2><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h2>

This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.

It means that when we research, we include a broad range of users to make sure we have a deep and contextual understanding of all our users and their needs, using their own words to tell the right stories.

<h2><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h2>

This principle is about helping our teams to do what's right for users, avoiding assumptions, and mitigating biases.

It means that we use evidence to explain the problems we're trying to solve. We understand where bias and assumptions might impact our insights, always testing and mitigating against this. We help our teams do what's right for our users, not what's popular.

<h2><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h2>

This principle is about ensuring we and our teams always meet high professional standards for user research.

It means that we are experts in the methods we regularly use, as well as experimenting with new and innovative methods, approaches, and ways of working. Our work always meets ethical and data protection standards, and we always consider the impact of our research on our users, our teams, and on ourselves.

<h2><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h2>

This principle is about the way we work in our teams and with other user researchers to help deliver DfE’s goals.

It means that we treat UR as a team sport, guiding our teams to do the right research for the right reasons. We work in an agile way, continuously building up insight over time, and adjusting our plans based on what we learn. We avoid repeating research, and we collaborate with user researchers in related teams to maximise our insight. We always understand the strategic direction and mission of our area of work, the policy around it, and how our research ultimately contributes to the Department’s goals.

<h2><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h2>

This principle is about developing as user researchers, and coming together in our user research community.

It means that we are actively aware of our own knowledge and skill levels, and are always looking for opportunities to upskill and learn more about our practice. We always find time to help and support each other, and we come together as a one Department for Education user research community of practice, to share and learn from each others’ knowledge and experience, and to develop DfE’s user research maturity and capability.

<h2><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h2>

This principle is about advocating for user research in our teams, the department, and the wider world.

It means that we always work in the open and share our findings widely: seeking out opportunities to talk inside and outside the department about our methods, ways of working, and what we have tried and learned. We celebrate our triumphs, and the achievements of our colleagues. We are advocates for user research - and for the user research community in Department for Education.






{% endmarkdown%}

{% endblock %}