{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "Research operations team" %}
{% set pageDescription = "About the DfE Research Operations team, and how they can support you." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

Our Research Operations team support user researchers across the department.

The goal of the team is to reduce the time and effort you spend on non-specialist user research tasks, allowing you to spend more time focused on delivering the highest quality insights into your teams. The team also aims to reduce the cost of user research, and reduce risks to you, the department, and our users. 

<a href="https://teams.microsoft.com/l/channel/19%3A1b2b8312032741f1969e1d9191de416f%40thread.tacv2/Research%20Operations%20Support?groupId=1d4fe322-a6c8-4727-9a9c-bf682657ffe9&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Contact the team in DfE Teams (opens in a new tab, DfE Teams users only)</a>, or individually using the team details below.

<!--
## Services and support for user researchers

### Support accessing our participant recruitment supplier

We have a <a href="/guidance/recruiting-participants/commercial-agency.html">contracted agency to recruit participants for research</a>. The Research Operations team can help you access this supplier, if you want support.

### Participant recruitment panels (private beta)

We are building our own <a href="/guidance/recruiting-participants/recruitment-panels#schools-users-panel">participant recruitment panels</a>, to help recruit some of our harder-to-reach user groups for research.

Currently we are trialling this in the Services for Schools portfolio, with a panel of school leaders and schools business professionals</a>. If you are a user researcher working in Services for Schools, you may be able to access this panel.

During 2024 we plan to continue growing this panel, with a particular focus on users with access needs and from other under-represented groups.

We will also begin to build a panel in our Vulnerable Children and Families portfolio, recruiting social workers, nursery workers and childminders, <abbr title="special educational needs and disabilities">SEND</abbr> professionals and other users of DfE services in childrens' social care, early years and Family Hubs.

### New starter onboarding

When you join DfE, Research Operations will ensure you are added to mailing lists, Teams channels, and invites for community events. They will also arange an onboarding session with the head of user research.

Your line manager or, if you are a contractor, the person managing your statement of work, should let the team know you are joining DfE. If you've not heard from the team in your first few days, <a href="#meet-and-contact-the-team">contact them to let them know you're here</a>.

### Personal data management support

When you are planning the <a href="/guidance/how-to-manage-participant-personal-data/index.html">personal data management</a> for your project, Research Operations can support you, or signpost you to the correct support team (e.g. the Office of the Data Protection Officer team, or the Knowledge Information Management team)

### Other support and services

Contact Research Operations about:

- The <a href="/community-of-practice/#find-a-dfe-user-researcher">list of all user researchers working in DfE</a>, and email lists
- Accessing our <a href="/templates-and-tools/">SharePoint library of templates, examples and other resources</a> 
- Accessing the <a href="/guidance/recruiting-urs/recruiting-a-user-researcher#interview-pack-builder">user researcher recruitment interview toolkits</a>, when you are planning a recruitment campaign for a user researcher

Research Operations also support the head of user research to deliver other projects across the <a href="/community-of-practice/how-were-developing-ur-at-dfe.html">user research profession roadmap</a>.
-->
## Meet the team

<div class="govuk-grid-row" style="margin-bottom: 40px;">
  <div class="govuk-grid-column-full">
    <div class="dfe-grid-container" style="grid-template-columns: repeat(auto-fill,minmax(250px,1fr));">
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/lucy.webp" type="image/webp">
          <img src="/assets/images/lucy.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Lucy Sutton
          </h2>
          <p>Research operations lead</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=lucy.sutton@education.gov.uk" target="_blank">Contact Lucy in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
          <p><a href="https://ukgovernmentdigital.slack.com/team/UKCHMG7T4" target="_blank">Contact Lucy in cross-government Slack (opens in a new tab)</a></p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <source srcset="/assets/images/sara.webp" type="image/webp">
          <img src="/assets/images/sara.png" alt="">
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            Sara Yardley
          </h2>
          <p>Research operations specialist</p>
          <p><a href="https://teams.microsoft.com/l/chat/0/0?users=sara.yardley@education.gov.uk" target="_blank">Contact Sara in DfE Teams (opens in a new tab, DfE Teams users only)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmarkdown%}

{% endblock %}