{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Community of practice" %}
{% set pageName = "User research community Teams channels" %}
{% set pageDescription = "Get involved in our meetups, Teams channels, initiatives and interest groups." %}

{% block content %}

{% markdown %}

Our channels in Department for Education Teams are a great place to meet, speak to and get advice from other DfE user researchers. 

* <a href="https://teams.microsoft.com/l/team/19%3AAWZZ_PNrIONyM4fVhBwFTkWOTWuzy69dkLCL73LTOAs1%40thread.tacv2/conversations?groupId=1d4fe322-a6c8-4727-9a9c-bf682657ffe9&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Main UR community channel (opens in a new tab, DfE Teams users only)</a>
* <a href="https://teams.microsoft.com/l/channel/19%3Ae8127a56db514b4e940c45035b4c2aab%40thread.tacv2/Northern%20UR%20Community?groupId=1d4fe322-a6c8-4727-9a9c-bf682657ffe9&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Local community - North (opens in a new tab, DfE Teams users only)</a>
* <a href="https://teams.microsoft.com/l/channel/19%3A4464f62176c34a0181b4ad2a4e4733a2%40thread.tacv2/South%20and%20Midlands%20Community%20UR?groupId=1d4fe322-a6c8-4727-9a9c-bf682657ffe9&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Local community - South and Midlands (opens in a new tab, DfE Teams users only)</a>

The main UR community channel is where the UR leadership team make any important announcements. It's always worth keeping an eye on this channel.

## Cross-government Slack user research channels

You can also join the cross-government Slack to meet and talk to user researchers from other government departments. You can sign up with your education.gov.uk email address at <a href="https://ukgovernmentdigital.slack.com/" target="_blank">ukgovernmentdigital.slack.com (opens in a new tab)</a>.

* <a href="https://ukgovernmentdigital.slack.com/archives/C062J6Y59" target="_blank">Main cross-government user research Slack channel (opens in a new tab)</a>
* <a href="https://ukgovernmentdigital.slack.com/archives/C01Q01G77FX" target="_blank">Cross-government research operations channel (opens in a new tab)</a>



{% endmarkdown%}

{% endblock %}