{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "inclusive_research" %}
{% set pageName = "Research with people who speak limited or no English and sign language users" %}
{% set pageDescription = "Considerations and practical advice to plan and conduct user research with people who speak limited or no English, including sign language users." %}

{% block content %}

{% markdown %}

<div class="govuk-!-margin-top-0" style="margin-bottom:30px; background: #e6f0f5;">
  <div class="dfe-width-container" style="padding: 20px 20px 4px;">
    <p>This guidance is currently under review, and some details may be out of date or incorrect. Ask resdearch operations, your lead user researcher or the head of user research if you're not sure.</p>
    <p>Updated guidance will be published soon.</p>
  </div>
</div>

For some DfE services, research with service users who speak limited or no English is critical to ensure content, features, and journeys are inclusive and accessible.

<h2 class="govuk-heading-s">Page contents</h3>
<ul class="govuk-list govuk-list--spaced">
  <li><a href="#people-who-speak-limited-or-no-english">People who speak limited or no English</a></li>
  <li><a href="#how-to-scope-your-requirements">How to scope your requirements</a></li>
  <li><a href="#how-to-plan-your-research">How to plan your research</a></li>
  <li><a href="#how-to-use-language-services">How to use language services</a></li>
  <li><a href="#additional-considerations-for-sign-language-research">Additional considerations for sign language research</a></li>
  <li><a href="#related-links">Related links</a></li>
</ul>

## People who speak limited or no English

Examples of people who speak limited or no English can include those who:

- came to the UK as refugees or seeking asylum or other first-generation migrants – they may be referred to as English for Speakers of Other Languages (ESOL) speakers
- don’t speak English as their primary or preferred language – they are sometimes referred to as English as an Additional Language (EAL) speakers
- use or prefer communicating through British Sign Language (BSL) or [other sign languages](https://en.wikipedia.org/wiki/List_of_sign_languages)

Research with people who speak limited or no English requires careful planning to address logistical and ethical challenges because:

- their experiences and needs can be diverse and complex
- different languages often go hand in hand with cultural attitudes and sensitivities.

## How to scope your requirements

### Decide on languages and cultures

You should explore what languages, cultures, or backgrounds you need to cover. This could be based on:

- the populations that are more likely to use your service
- research inclusivity
- current affairs or historical moments
- other product considerations.

You could speak to policy colleagues and subject matter experts in your area and explore relevant research reports and other departmental data sources. Bear in mind that there can be significant differences in how you approach things depending on whether you are doing research with spoken or sign languages.

### Get advice from professionals who work with the people you want to reach

You should speak to experts, if you can, to gather initial insights on cultural attitudes, sensitivities and practical considerations that may shape your research. They could include:

- interpreters
- advocates
- charity practitioners
- support workers.

You could contact relevant charities and professional groups as part of your scoping. Speaking to specialist organisations and associations can help you navigate this space and identify the most appropriate language services to use and research approaches to take.

You could ask user researchers and other researchers - like those in social research and behavioural insight teams at DfE or in other departments - if they have researched with the audience you’re interested in and can share their learnings. They may also be able to advise on their experiences in different organisations. You can reach out to them on the [cross-government Slack UR channel](https://ukgovernmentdigital.slack.com/archives/C062J6Y59).

Exploring existing research reports or DfE data sources for relevant advice and information can also be helpful.

### Consider recruitment routes

You should think of the best way to reach your users. If they are likely to be disengaged or digitally excluded, try to reach them where they are and in person, for example visiting community spaces where you think you can find them.

Those who use BSL to communicate can also find long form written English difficult to read, so consider any recruitment support you may need and providing accessible materials for them. Read more on this in the [additional considerations for sign language research](#additional-considerations-for-sign-language-research) section.

### Identify relevant language services

You should plan for what language services are best for your needs.

‘Translation’ is the process of converting written text from one spoken language to another, or from a spoken language to a sign language.

‘Interpretation’ is the process of converting speech or signing from one language to another. Interpreting can happen in person, through video, or, depending on the language, over the phone.

### Consider overall research timeframes

You need realistic timings and budgets particularly when working with language services. The tasks involved in preparing to carry out research with users who speak limited or no English can be time consuming. These include:

- scoping
- translating materials
- procuring interpreters
- recruiting the right people
- appropriately conducting research
- sensitively analysing insight.

Planning accordingly and confirming this with your team can be helpful to manage expectations and ensure that you have budget.

## How to plan your research

### Work out the logistics

Logistics for this kind of research are complex, especially when involving vulnerable participants. Their availabilities can change at short notice depending on their obligations and emotional state. You should factor in flexibility and room for error into your plans.

Below are some steps you can take to be as prepared as possible.

#### Determine the best research method, their length, and timing

You need to consider the best way to research with your participants, and the timings for your research, particularly:

- planning enough time to book interpreting appointments
- how many interviews or research activities you will realistically be able to fit in.

Depending on the audience you’re trying to reach, you may need to work after hours. This may have implications for:

- the wellbeing of you and your team
- your budget, as interpreter rates are higher after 6pm.

#### Securing interpreters’ attendance

It is very important that you minimise the possibility of last minute cancellations or no shows, and that you have a contingency plan in place in case they happen.

You could do this by requesting an additional confirmation from your language services on the day of fieldwork, so that you can rearrange interviews if needed. For long sessions, for instance those lasting over the course of more than half a day, you should ideally arrange for two interpreters to be present on the day.

If possible, you can also make alternative plans to have colleagues or partner organisations support with interpreting if needed. If you are relying on people who do not work for DfE, consider how they can be compensated for their time in the sessions.

#### Consider researcher and participant dynamics

Cultural sensitivity can impact the way you bring together your team and conduct your research activity.

In certain instances, women may be more comfortable being interviewed by women, or they may want to be accompanied by a significant other. You should consider how to make sure your participant feels safe and that the interview set up minimises interferences. If appropriate, this can be discussed in the introductory call suggested.

#### Managing distractions

Consider whether participants need to bring their children or any other family members to the interview. Also think about how you are going to coordinate with the interpreter and how you are going to manage issues if you are in an open and possibly noisy space.

#### Capturing information during the session

Participants who speak limited or no English may be reluctant to be recorded. Define your approach in advance to ensure that you can capture information if participants do not consent to recordings.

If you run depth interviews you are likely to gather large amounts of data, and you should consider how you are going to capture it and analyse it. For instance, you might:

- create a structured notes framework in advance and brief your team on how to use it
- have an extra person to take notes.

#### Paying incentives

If you are engaging digitally excluded or vulnerable people, it may be more appropriate to provide physical incentives or vouchers rather than arranging transfers over email. You may also need to provide a higher incentive if your audience is harder to recruit.  
<br/>Payment for interpreters is covered in the [Using language support services](#finding-language-support) section.

### Set up appropriate consent procedures

You should follow the [guidance on gaining informed consent](https://user-research.education.gov.uk/guidance/ethics-and-safeguarding/gaining-informed-consent) and ensure you tailor and enhance it for audiences who speak limited or no English. A few suggestions on how to do this are included below.

#### Adapt your consent materials

You should ensure materials are meaningful, inclusively written, and digestible. This may mean:

- getting them translated or having the option to go through the form with the interpreter before the session
- having simplified or visual formats, and adapting language so that it is reflective of your participants’ realities – for instance, avoiding referring to recording the voice of a BSL user.

#### Account for variation in literacy

You should be mindful that levels of literacy in people’s first languages can also vary. It may actually be easier for some people to read basic English if they have studied it. As a result, as well as providing translated version, it can be helpful to create materials using plain English and a simple format, for example by using:

- small paragraphs and shorter sentences
- bullet points
- [easy read formats](https://www.scope.org.uk/about-us/accessibility-at-scope/accessibility-guidelines/content-accessibility-guidelines).

You should consult a content designer in your area to help you draft it.  
<br/>If your participants require it and are able to give it, you can also consider the possibility of verbal consent.

#### Discussing the research

You may need to consider adapting the way you introduce your research. Certain groups can be reluctant to engage with authorities or feel intimidated by formal language and official-looking forms. Be sensitive to any concerns the participant may have and make sure to clearly communicate your:

- role
- research plans
- safeguarding requirements.

You should set up introductory calls with participants. These could be helpful building a positive relationship with the participant and:

- reassure them
- give them a chance to ask any questions
- confirm interview arrangements and accessibility needs.

Be mindful that you may need to arrange interpreter for these calls as well.

### Design the research sessions

#### Build in extra time

You should allow for extra time during sessions. Getting questions and answers interpreted can quickly expand the length of an interview. Participants may also have family or children with them, and if you are doing sessions in a public space this may create distractions.

#### Test your questions

You should test your questions with the interpreter or someone who speaks the language. Some expressions may not have direct translations in other languages or may be too broad to be meaningful when interpreted. Check that that questions still make sense when relayed in your target language.

It can be helpful to provide practical examples of concepts that may be foreign to your participants. For example, services that are provided in England, but not other countries.

## How to use language services

### Identifying language services

Language services are businesses that provide support with translation, interpretation, and other services related to engaging and facilitating understanding of foreign and sign languages. They may specialise in specific languages.

You should consider procuring professional language services to ensure your research is robust and ethically sound.

Interpreters and translators are trained to a high level to:

- deal with different degrees of language articulation
- faithfully report what people say
- respect an ethical code of conduct in their work.

While remaining impartial, interpreters can also help by adding cultural context and meaning.

### Finding language support

Crown Commercial Service (CCS) [provide guidance for recruiting language services](https://www.crowncommercial.gov.uk/agreements/RM6141). We recommend starting with their [Buyer Guide](https://www.crowncommercial.gov.uk/agreements/RM6141#:~:text=RM6141%20Buyer%20guide,file%20will%20download).

The exact process for accessing this framework may differ depending on the area you work in, so we recommend asking CCS for advice. Your delivery manager can support you in doing this.

#### Selecting the right provider

You should ensure that the offer of language services is right for you. Make sure that they can provide what you need within budget and that they have the right experience working with the groups you’re trying to engage - for instance by asking them about their processes in advance.

### Working with interpreters

#### Provide information in advance

You should provide a brief overview of the research and relevant materials when booking interpreters. This lets them know the types of questions they can expect. You should also explain if you need a specific dialect prior to the session as that may determine changes in your booking.

You should clarify if you expect the sessions to be recorded, as interpreters should be aware and there may be additional charges that apply. An interpreter may refuse the job if they feel that they have not been given all the relevant information to prepare.

#### Consider the interpreters’ wellbeing

Interpreting is hard work; if sessions are over an hour you should:

- allow for breaks
- make sure that the interpreter is comfortable requesting a pause if they need it

If your session is longer than a few hours, you should also arrange for a second interpreter to be present.

#### Book time for prep

You should book the interpreter to arrive at least 15 minutes before your appointment. It is best practice for interpreters to arrive a few minutes in advance of their appointment. Make sure you book this time to make sure that you can clarify any expectations for the sessions, ask them any questions, and get comfortable.

#### Always face the participant in interviews

When asking questions and receiving answers it’s best practice to look at the participant even if the interpreter is speaking to you.

Remember you’re having a conversation with the person you’re interviewing, through the interpreter, so maintaining eye contact with them makes them feel seen and engaged.

Keep your questions short and simple. Be aware of the way you phrase your questions – for instance, not using figures of speech or including examples to clarify concepts or services participants may not be familiar with - and remember to use direct and simple language.

#### Checking with the interpreter during the session

Don’t be afraid to check in with the interpreter if something doesn’t feel right. For instance, if the answer you are getting doesn’t seem to match the question you asked, check with the interpreter to make sure that they understand and re-word if needed.

You can clarify with the interpreter and ask them to check with you if you think they may be:

- adding their own meaning
- not reporting all the participant is expressing
- having side chats
- asking their own questions.

## Additional considerations for sign language research

### Recruitment

#### Accessibility of materials

Those who use sign language as their primary method of communication may prefer short and visual messages to written forms and detailed emails. Unless you are unable to, you should provide video translations of any recruitment materials as a first engagement and keep these as short as possible. You should also aim to use visual materials to support during your sessions.

#### Recruiting the right participants

Consider snowballing from existing contacts to reach BSL users to establish trust as soon as possible. You should also consider reaching out to organisations, such as charities or specialist recruitment support, who can help you reach deaf audiences.

If you’re using free find recruitment, also consider that participants may have taken part in other projects and that they may be ‘experienced’ in research dynamics, and whether that is relevant and appropriate for your work.

#### Be flexible with the format of your information and consent materials

Consider providing information about the research in an alternative way than our standard documents. For example, by using an interpreter to relay the information.

### Working with interpreters

#### Account for workload and breaks

This kind of interpreting can be especially demanding, so allow for:

- sufficient breaks
- having two interpreters available for long sessions (more than 2.5 hours)

Be aware that rates for unspoken language interpreting can also be calculated differently to spoken language ones. Minimum bookings tend to be of 2 hours.

#### Setting up the session

If you’re running testing sessions in person, bear in mind the participant and the interpreters need to be able to see the screen while also facing at each other. If you have a note taker, they should also be able to see how the participant navigates your service. Bear this in mind as you set up the environment. Consider also engaging a deaf advocate or experienced professional to advise on the format of the session.

## Related links

- [Guidance on participant safeguarding](https://user-research.education.gov.uk/guidance/ethics-and-safeguarding/participant-safeguarding)
<!-- - Guidance on researcher safeguarding \[LINK TBC\]-->
- [Centre for Digital Public Services’ guidance on considering the Welsh language in your research](https://digitalpublicservices.gov.wales/guidance-and-standards/meet-user-needs)
- [Government Communication Service tips to deliver better British Sign Language content](https://accessibility.blog.gov.uk/2024/01/29/government-communication-service-tips-to-deliver-better-british-sign-language-content/)
- [Collecting quantitative data from non-English speaking populations](https://nhssurveys.org/survey-instructions/collecting-data-from-non-english-speaking-populations/)

If you have any questions or feel like anything is missing from this guidance, <a href="https://ukgovernmentdfe.slack.com/team/U034GJCE763" target="_blank">contact Vale Mazzi in DfE Slack (opens in a new tab)</a>, or <a href="/community-of-practice/research-operations.html">contact the Research Ops team</a>.



  
{% endmarkdown%}

{% endblock %}