{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Using social media in user research" %}
{% set pageDescription = "Ethical considerations and constraints when using social media for user research." %}

{% block content %}

{% markdown %}

Social media can be a powerful tool in user research, as a form of ethnography, helping us to gather insight into users and their environments. However, using social media for user research also brings some ethical questions.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#overview">Overview</a></li>
    <li><a href="#uses-of-social-media-in-user-research">Uses of social media in user research</a></li>
    <li><a href="#dont-ask-direct-research-questions-to-users">Don't ask direct research questions to users</a></li>
    <li><a href="#dont-ask-direct-research-questions-to-users">Don't ask direct research questions to users</a></li>
    <li><a href="#dont-perform-research-in-closed-groups">Don't perform research in closed groups</a></li>
    <li><a href="#dfe-resources">DfE resources</a></li>
    <li><a href="#further-reading">Further reading</a></li>
  </ul>

## Overview

<!--
<div class="govuk-inset-text">
  <p>Following this guidance will help you meet our <a href="#">research planning standard</a></p>
</div>
-->

As user researchers, we can learn a lot from how people interact and engage through social media. We can see the experiences of users “in the moment” and (to an extent) in context, without needing to bring users into a research setting. In this sense, the data social media can provide is - in many ways - unfiltered, unaffected by research power dynamics, and accessible, with users sharing their experiences and emotions authentically, in their own words and in their own context.

## Uses of social media in user research

As a user researcher, you can use social media to: 

- gather insight in public groups containing users you are interested in researching with, as secondary data - especially during a discovery or requirements-gathering phase of research
- track search terms and analytics data relating to your research subject, identify the language and sentiment expressed by users 
- share quotes and insights with your wider team to help contextualise users’ experiences of your service/product
- monitor how a situation or scenario changes over time (for example, trending topics)
- understand potential pain points and experiences of users, based on the information they choose to share publicly, including users' experiences of public beta and live services
- get quick and free insight into your users

You must not use social media to:

- ask research questions, surveys, etc, in a public post or in private messages
- join a private social media group for the purpose of conducting research
- approach individuals or groups directly to recruit users for your research
- draw conclusions on all users’ experiences of services or products
- rely on the accuracy of self-reporting by users

## Don't ask direct research questions to users

Users in a public social media forum have not consented to you researching directly with them. 

You can content that they have posted publicly as ethnographic research, but you cannot approach them directly with research questions if you do not have their consent.

## Don't perform research in closed groups

You can use open forums on social media (e.g. Twitter, or forums on websites that don't require you to log in to read content) to conduct ethnographic research.

You cannot join or enter a closed forum (e.g. a closed Facebook group, or a website forum that requires you to log in) because that is a private space. 

A metaphor is that observing users in an open forum is like doing this in public spaces like cafes or libraries. Observing users in a closed forum would be like following them into their home or workplace to observe them, which we would never do without their consent, and the consent of anybody else they are privately interacting with.

## Don't recruit users via social media

Although <a href="https://www.smashingmagazine.com/2017/03/using-social-media-user-research/">we can learn a lot from accessing publicly available information and sentiments on social media</a>, as user researchers in the Department for Education, we do not recruit via social media. This is in order to protect the wellbeing of researchers and to protect the department’s reputation. 

Some example of using social media are:

- sending a tweet asking for participants for upcoming research
- joining a Facebook group for teachers and asking them

Recruiting via social media platforms can leave individual researchers open to negative backlash and ethical challenge and members of the public can feel uncomfortable if researchers recruit through social media groups or by directly approaching them. Directly approaching one group or individual over another on social media could be seen as favouritism or a lack of impartiality, especially in research where <a href="/guidance/recruiting-participants/paying-incentives.html">incentives</a> are being used. 

Similarly, by using social media as a recruitment channel, we may be more prone to recruiting those who have a larger presence, following or influence online which can lead to bias and a lack of consideration around diverse and inclusive recruitment (for example, potentially excluding those users who predominantly or exclusively use offline parts of a service). 


## DfE resources

- <a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get further advice on research ethics questions</a>

## Further reading

As well as considerations around social media in user research, as civil servants we are expected to follow:

- <a href="https://www.gov.uk/government/publications/social-media-guidance-for-civil-servants/social-media-guidance-for-civil-servants#the-case-for-social-media">Cabinet Office social media guidance</a> (should be followed at all times, inside and outside of work)
- <a href="https://www.gov.uk/government/publications/social-media-guidance-for-civil-servants">Department for Education social media guidance</a>
- <a href="https://educationgovuk.sharepoint.com/sites/IT/SitePages/acceptable-use-of-it.aspx#social-media">Department for Education acceptable use of IT policy</a>.

If your team is using social media as part of their communications strategy, the <a href="https://www.gov.uk/guidance/social-media-playbook">GDS social media playbook</a> outlines ways of getting the most out of social media in our work as civil servants.  


{% endmarkdown%}

{% endblock %}