{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Participant safeguarding" %}
{% set pageDescription = "Advice on keeping particpants safe during research, and what to do if you have a safeguarding concern." %}

{% block content %}

{% markdown %}
<div class="govuk-!-margin-top-0" style="margin-bottom:30px; background: #e6f0f5;">
  <div class="dfe-width-container" style="padding: 20px 20px 4px;">
    <p>This guidance is currently under review, and some details may be out of date or incorrect. Ask resdearch operations, your lead user researcher or the head of user research if you're not sure.</p>
    <p>Updated guidance will be published soon.</p>
  </div>
</div>


As user researchers in DfE, we must safeguard research participants, ourselves and anyone 
else involved in the research. We can do this by ensuring our research is conducted in a safe, 
inclusive and protective environment preparing our research carefully and being ready to act on
a safeguarding concern. 

The scenarios that we include in this guidance are fictional but inspired by a senior 
researcher’s own experiences.

<h2 class="govuk-heading-s">Page contents</h2>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#what-safeguarding-is-in-research">What safeguarding is in research</a></li>
    <li><a href="#how-to-prepare-for-your-research">How to prepare for your research</a></li>
    <li><a href="#acting-on-a-safeguarding-concern">Acting on a safeguarding concern</a></li>
    <li><a href="#summary">Summary</a></li>
    <li><a href="#dfe-resources">DfE resources</a></li>
    <li><a href="#further-reading">Further reading</a></li>
 </ul>
  
 <div class="govuk-inset-text" style="margin-top:0;">
  <p>Following this guidance will help you meet our <a href="/standards-and-principles/participant-safeguarding">participant safeguarding standard</a></p>
</div>



## What safeguarding is in research

Safeguarding is the protection of a person’s health, wellbeing, and right to live in safety, free from harm, abuse and neglect (National Institute for Health and Care Excellence).

User researchers are required to pass participant information on where they are aware of:

- a risk of harm to a child or vulnerable person
- an immediate, serious risk to the participant’s safety
-	an immediate, serious risk to the safety of others.

There are 3 main types of safeguarding risks in research that you should consider in your planning and prepare to manage in your research:

<ol>
  <li>The risk of causing the participant and others harm in research settings.
    <ul>
      <li>For example: if a participant is asked to discuss a traumatic topic and becomes upset.</li>
    </ul>
  </li>
  <li>The risk of harm being disclosed or identified in research settings.
    <ul>
      <li>For example: if a young child reveals that they are left home alone for long periods of time.</li>
      <li>For example: you overhear aggressive and abusive language towards your participant on a remote interview.</li>
    </ul>
  </li>
  <li>Direct risks posed by health conditions.
    <ul>
      <li>For example: exposing medically vulnerable participants to an increased chance of catching COVID-19.</li>
  </li>
</ol>

## How to prepare for your research

### Understand the risks associated with the groups you are researching with

Participants present differing degrees of potential risk and harm, depending on personal circumstances, characteristics and backgrounds. There may be occasions when you do research with vulnerable participants that require extra care.  Vulnerability in research can be <a href="https://www.ukri.org/about-us/policies-standards-and-data/good-research-resource-hub/preventing-harm-in-research/">defined in different ways, such as age, disability or potential marginalisation (UKRI).</a>
- Speak to professionals who are familiar with your user group, especially vulnerable users (for instance, a SEN teacher). This might be an internal team in DfE or an SME. Read any relevant documents they signpost you to before your research to see if there is anything you should avoid in your research

### Standard practice materials will help inform your participants on the topics of your research and how you handle their data

You can find <a href="https://user-research.education.gov.uk/-tools-and-templates/templates.html#content">templates in the templates, examples and resources library.</a>

- Information sheets and privacy notices: Make the subject matter and activities research involved in participation clear. You should also explain to the participant what data you will be collecting and how it will be stored. Include information about the participants data protection rights and the steps you take as a researcher to protect their data. Be clear that it is a researcher's professional obligation to report safeguarding concerns.
- Informed consent forms: you must obtain <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent.html"> informed consent</a> from participants ahead of conducting research.
- If these documents are for young people, see this guidance on <a href="/guidance/ethics-and-safeguarding/research-with-children-and-young-people.html"> doing research with children.</a> You might need to use different and simplified terminology to ensure all of the terms related to confidentiality and consent are fully understood by the child and their gatekeeper - see examples in <a href="/guidance/ethics-and-safeguarding/gaining-informed-consent.html#case-studies-and-advice-for-different-approaches-to-consent">Informed Consent.</a>
  
### Be empathetic to each user and consider how your research might be linked to the potential for harm 
  
It is important to be aware of what you are asking your participants to discuss, in what circumstances, and who will be present. 

- Stick to two observers maximum (unless observers are in a separate observation room). Remember you can playback your key findings to the team, as well as recordings if the participant has provided consent
- Consider the format or location of your research – some topics might not be appropriate to discuss in shared spaces, such as focus groups or pop-up research 
- Your research might include individuals from marginalised groups or users that are traditionally classed as ‘hard to reach.’ An inclusive sample and research approach is necessary but remember that some topics of conversation might cause upset to some participants but not cause harm to others. Be wary of signs that your participant is upset, for instance they might avoid the question or become agitated. Be ready to take steps to minimise harm to the participant, such as rephrasing the question, taking breaks, or reiterating that they do not have to answer questions if they do not want to. Full guidance covering inclusivity in research will be available soon

### Learn the right protocols to follow in the case of a safeguarding concern

It is important you know the right protocols to follow ahead of your research, in the case that you need to escalate a safeguarding concern.
  
-	Familiarise yourself with the contact details of the appropriate safeguarding lead for your users. Preparing this ahead of research will help you act as quickly as necessary, without searching for guidance or contact details once you are aware of the risk. Click here for <a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvedfe00116/_layouts/15/Doc.aspx?sourcedoc=%7B2489049A-3313-4FFF-AA4B-EB7CEE02E4EE%7D&file=Safeguarding%20Leads%20August%202022.xlsx&action=default&mobileredirect=true&cid=9437629b-2859-4109-a307-9eed21b68d6a"> contact details of regional safeguarding leads (DfE Intranet)</a>
- Create a risk log in a restricted location to record risks you identify as your fieldwork progresses. If you record a risk that needs to be escalated for safeguarding reasons, this log will be helpful evidence if you have to take action.

| __A child at school:__ | __A vulnerable individual in social care:__ |
|---------------|---------------|
| Find the contact details of the safeguarding lead at their school before you do the research | Find the contact details of the safeguarding lead at their local authority|

If you have identified a high likelihood of a safeguarding risk, ask these individuals to send you any guidance on how and when to contact them. You may want to familiarise yourself with the specific protocols of that institution, for instance <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1101454/Keeping_children_safe_in_education_2022.pdf">Keeping Children Safe in Education.</a>

## Acting on a safeguarding concern
  
<div class="govuk-inset-text">
  <h3>Remember</h3>
<p>As a researcher, you are not responsible for the long-term care of the participant in your research.</p>
<p>Your main role is to ensure the appropriate individuals are informed about the risks that have been disclosed in your research and that you <a href="/guidance/how-to-manage-participant-personal-data">handle their data appropriately</a> once you are aware of a risk.</p>
</div>

Safeguarding concerns fall into two categories: disclosure of harm and disclosure of criminal activity:

### Disclosure of harm

**Be alert to indicators that suggest your participant is being harmed or at risk of harm.**

A participant might explicitly describe a harmful situation or they might provide enough information to 
raise concern. If you are researching with a vulnerable or young individual, you will need to be aware of more 
subtle signs of harm, such as non-verbal cues. If you are in any situation of uncertainty, you should 
still always flag this concern to the safeguarding lead. 

### Disclosure of criminal activity

**Be alert to indicators that suggests the participant might be the inflictor of harm.** 

This might mean the participant intends to inflict serious harm or risk on themselves or to others. 
You will need to alert the safeguarding lead to this information, but you might also be required to breach 
confidentiality when discussing with a professional, such as a police officer, once you have alerted the risk 
to the safeguarding lead. Make sure you speak to your line manager throughout this process as they will 
support you.


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    If you are in a situation where you believe there is immediate danger to yourself or others, alert the emergency services first and then your safeguarding contact.
  </strong>
</div>
  
### Suggested Actions to Take if a safeguarding risk is identified

-	End the research session early if you’re concerned that it is causing harm to the participant or yourself 
-	If a participant has disclosed some information to you which you deem a safeguarding concern, let the participant know that you will have to pass this information on. Explain you’ll need to report to someone who can help
-	Never ignore it or promise to keep it a secret. Be patient and focus on what you’re being told. Try not to express your own views and feelings
-	Never ask the participant further questions on what they have disclosed to you
-	Report the disclosure as soon as possible after you’ve been told about it so the details are fresh in your mind and action can be taken quickly. Take notes in your risk log after you’ve spoken to the participant. Try to keep these as accurate as possible. Note the exact time and date the disclosure was made and the words the participant said to you in the disclosure. Do not paraphrase what they said or make any assumptions. Ensure your note is not seen by anyone and pass it onto the safeguarding lead only to document in a secure system.
-	Ensure the participant has your contact details in case they have any questions or concerns after the research (this might be yours, the recruiters, or a centralised email address) but remember that you should only discuss matters related directly to the research. Alert the safeguarding lead if the participant discusses matters related to safety
-	If you have observers present at the research, ensure you have their account of the safeguarding risk documented in your risk register, to pass onto the safeguarding lead. Encourage them to speak confidentially to your research lead so that they are fully supported and aware of when and with who, they should discuss details 
-	Only include necessary and relevant data within your analysis or completely remove the participant from your data collection - see more guidance on <a href="/guidance/how-to-manage-participant-personal-data">managing participant data.</a>
  
<div class="govuk-inset-text">
  <h4> Example: Disclosure of harm </h4>
  <p> A researcher is working on a project that requires them to speak with primary school children about the different ways they like to learn in the classroom.</p>

  <p>The researcher has gained consent from their parents who have agreed that the child can take part in the research on school grounds. They have not consented for the research to be audio recorded.</p>
  
  <p>The research takes place face-to-face, with two adults present (a researcher, teaching assistant and the school pupil). The researcher makes it clear to the child that they have the right to stop the conversation whenever they want to.</p>
  
  <p>Ten minutes into the interview, the child reveals information that suggests they are neglected at home. This is clear through different cues - such as visual cues where the child is wearing dirty clothes, and auditory cues, where the child explains they are often left at home on their own at night. The student becomes increasingly distressed in the interview when revealing this information.</p>
  
  <p>The researcher decides to discreetly end the research session and thanks the child for their time, providing them with a glass of water and walks them back to their class.</p>
  
  <p>In private, the researcher discusses the interview with the other adult present in the research (the teaching assistant) and clarifies the contact details for the schools safeguarding lead that they had prepared before the research. The researcher confidentially explains to the safeguarding lead what occurred in the research and provides their contact details should further conversations be needed.</p>
  
  <p>As the interview was cut short and little relevant data was collected regarding the project scope, the researcher separates the child's data from the research project and doesn;t include it analysis (the data already recorded <a href="/guidance/how-to-manage-participant-personal-data/after-research-is-finished.html#dont-delete-personal-data-after-research">isn't deleted, following the data management guidance</a>). Finally, the researcher explains to their profession manager or User Research Lead what occurred, without revealing the identity of the child involved in the research, so their manager can make sure all the necessary steps have been taken and provide the researcher with support.</p>
</div>


<div class="govuk-inset-text">
  <h4> Example: disclosure of criminal activity </h4>
  <p> A researcher is speaking to struggling parents who are about to engage with social services to understand how parents can be supported.</p>
  
  <p>The researcher has obtained informed consent and is aware of the need to be sensitive to participants’ experiences. Participants were also given an information sheet that outlined their data would be held securely and confidentially unless there is a situation where the researcher needs to escalate any information to a relevant authority to protect the participant or another from harm.</p>
  <p>In one research session, a researcher is working alone and speaking to two parents as part of a remote interview. During the session one of the parents becomes increasingly emotional when discussing a recent event. The researcher changes the focus of the discussion by returning to a less distressing question.</p> 
  <p>The researcher makes the parents aware that they can end the session whenever they wish. The parents insist on continuing the research session and do so without concern until one of them begins to discuss possible future engagement with social services. Becoming increasingly angry the parent threatens to harm social workers if they attempt to come to their home. The parent calms down and apologises to the researcher.</p>
  <p>Following the interview the researcher contacts the safeguarding lead for the council’s social services and explains what had happened during the interview. The researcher updates their manager and adds details about this experience into a risk log. The recorded data is securely stored as it could form the basis for any criminal investigation.</p>
</div>
  
## Summary

- Prepare materials that inform your participant about the topic of your research and how you will handle their data in the case of a safeguarding concern.
- Consider how the format or setting of research can impact the potential for harm or participant discomfort - be adaptable when delivering your research sessions if you need to avoid particular questions. 
- Prepare for a safeguarding risk by familiarising yourself with the correct protocol and safeguarding leads contact information ahead of the research. 
- Document the details of safeguarding risks in a risk register. 
- Protect yourself, the participant and others -if necessary, end research sessions early and escalate the concern to the relevant person who will deal with it from there. 
- Make decisions on how to handle the participants data with your profession lead’s guidance.
  
## DfE resources

- <a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get further advice on research ethics questions</a>
- <a href="https://educationgovuk.sharepoint.com/:x:/r/sites/lvedfe00116/_layouts/15/Doc.aspx?sourcedoc=%7B2489049A-3313-4FFF-AA4B-EB7CEE02E4EE%7D&file=Safeguarding%20Leads%20August%202022.xlsx&action=default&mobileredirect=true&cid=9437629b-2859-4109-a307-9eed21b68d6a">DfE regional safeguarding leads (DfE Intranet)</a>

## Further reading

This guidance drew on a number of sources listed below and own research knowledge practice.  

- <a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fassets.publishing.service.gov.uk%2Fgovernment%2Fuploads%2Fsystem%2Fuploads%2Fattachment_data%2Ffile%2F1000709%2F2021-GSR_Ethics_Checklist.docx&wdOrigin=BROWSELINK">GSR Ethics Checklist</a> see Principle 6: Research should be conducted in a manner that minimises personal and social harm and GSR Principle 4: Participation in research should be based on specific and informed consent. 
- <a href="https://www.nottingham.ac.uk/healthsciences/documents/safeguarding-researcher-guidelines.pdf">University of Nottingham: Safeguarding considerations for researchers</a> 
- <a href="https://www.sheffield.ac.uk/research-services/ethics-integrity/safeguarding/about">Safeguarding in Research - Ethics and Integrity - Research Services - The University of Sheffield</a>
- <a href="https://www.bps.org.uk/guideline/safeguarding-children-and-young-people-every-psychologists-responsibility">Safeguarding Children and Young People: Every Psychologist's Responsibility | BPS</a>
- <a href ="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code">The Civil Service code - GOV.UK (www.gov.uk)</a>
- <a href="https://www.ukri.org/about-us/policies-standards-and-data/good-research-resource-hub/preventing-harm-in-research/"> Preventing harm in research – UKRI</a>


{% endmarkdown%}

{% endblock %}