{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Psychological safety and researcher self-care" %}
{% set pageDescription = "Keeping yourself and your colleagues psychologically safe during and after research" %}

{% block content %}

{% markdown %}

<div class="govuk-!-margin-top-0" style="margin-bottom:30px; background: #e6f0f5;">
  <div class="dfe-width-container" style="padding: 20px 20px 4px;">
    <p>This guidance is currently under review, and some details may be out of date or incorrect. Ask resdearch operations, your lead user researcher or the head of user research if you're not sure.</p>
    <p>Updated guidance will be published soon.</p>
  </div>
</div>

Psychological safety in research means that you and colleagues who are exposed to your research feel supported and comfortable. You should all be able to express feelings about the research and what you've experienced or heard:

- before and after conducting in-person research
- when carrying out desk research on a challenging subject
- to feel comfortable challenging assumptions your team or stakeholders might have, using the evidence that you collect in research.

Psychological safety should be considered at every stage of research and built into your planning and reflections.


<h2 class="govuk-heading-s">Page contents</h3>
<ul class="govuk-list govuk-list--spaced">
  <li><a href="#why-this-is-important-in-dfe-user-research">Why this is important in DfE user research</a></li>
  <li><a href="#burnout-compassion-fatigue-and-vicarious-trauma">Burnout, compassion fatigue and vicarious trauma</a></li>
  <li><a href="#carrying-out-distressing-or-emotionally-sensitive-research">Carrying out distressing or emotionally sensitive research</a></li>
  <li><a href="#distress-protocols">Distress protocols</a></li>
  <li><a href="#ending-a-research-session-where-you-feel-uncomfortable-or-distressed">Ending a research session where you feel uncomfortable or distressed</a></li>
  <li><a href="#taking-care-of-yourself-and-your-team">Taking care of yourself and your team</a></li>
  <li><a href="#dfe-resources">DfE resources</a></li>
  <li><a href="#further-reading">Further reading</a></li>
</ul>



<div class="govuk-inset-text" style="margin-top:0;">
  <p>This guidance has been written by the DfE user research community. You should always follow DfE’s <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Safeguarding.aspx" target="_blank">formal safeguarding policy (DfE intranet. Opens in a new tab)</a> and <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Wellbeing.aspx" target="_blank">wellbeing guidance (DfE intranet. Opens in a new tab)</a></p>
</div>


## Why this is important in DfE user research

User research in DfE can sometimes be seen as ‘low risk’ because there is a perception that we don’t talk about sensitive topics. This isn’t correct.

Even if you’re not directly researching a topic likely to cause distress, the nature of contextual, interview-based research means that you might discuss unexpected subjects, or you or a participant may have an unanticipated emotional reaction.

Additionally, the nature of our work means we can take on the emotional load of other people’s experiences and feelings. This could affect any of us at any time, and it is important we plan for this.

### Benefits of ensuring you and your team feel psychologically safe

There are a range of reasons why you, your team, and DfE should be invested in ensuring that researchers and team members, feel psychologically safe in research activities, for example:

- protecting the mental health of researchers and observers
- enabling researchers to plan, conduct, and present great research
- to create a more inclusive environment, where staff feel able to bring their [‘whole self’ to work](https://civilservice.blog.gov.uk/2017/10/18/being-able-to-bring-your-whole-self-to-work-allows-you-to-perform-at-your-best/)
- improving team and community culture
- creating a better work/life balance

User researchers aim to understand the personal experiences of users and communicate this to teams and stakeholders.

Our work involves creating a shared empathy for users in our teams. This means we can take on the emotional load of other people’s experiences and feelings. This focus on others can make it easy to discount your own psychological safety and emotional state. We also sometimes work alone, and in new and unfamiliar situations where we have no idea what we’ll be faced with.

We need to recognise the importance of our feelings and emotions, and factor them into how we do research. Looking after yourself, team members and the wider community helps to create a supportive and sustainable research culture.  

## Burnout, compassion fatigue and vicarious trauma

User researchers can find ourselves listening to difficult and upsetting stories from our participants. As a result we can be at higher risk than others of experiencing burnout, compassion fatigue or vicarious trauma.

The [World Health Organisation describes burnout as a condition arising from workplace stress that has not been resolved](https://www.who.int/standards/classifications/frequently-asked-questions/burn-out-an-occupational-phenomenon). It can lead to someone feeling disengaged from their work. [Find out more about research into burnout, its causes, and effects.](https://www.frontiersin.org/articles/10.3389/fpsyg.2019.00284/full#:~:text=Research%20has%20shown%20that%20burnout,Kim%20and%20Kao%2C%202014%29.)

Compassion fatigue is ‘a state of exhaustion and dysfunction because of prolonged compassion stress’. For example mental or physical exhaustion because of repeatedly hearing traumatic stories.

[Vicarious trauma](https://www.counseling.org/docs/trauma-disaster/fact-sheet-9---vicarious-trauma.pdf) describes the possible harm arising from an individual being regularly exposed to other people’s stories or experiences of trauma. Someone experiencing vicarious trauma may find they are replaying traumatic stories in their head, or dreaming about the stories they’ve heard, despite not having directly experienced the trauma.

You should make yourself aware of the signs and causes of burnout, compassion fatigue and vicarious trauma.

## Carrying out distressing or emotionally sensitive research

Your research could cover emotionally sensitive topics, but unexpected things can always come up in research, even if you’re not directly researching something obviously likely to cause distress.

Some topics people could find sensitive might touch on:

- safeguarding concerns
- financial concerns, personal or organisational
- stress and pressure
- ill-health
- job loss or uncertainty
- discrimination
- prior life trauma
- negativity or aggression towards DfE and/or the government

<div class="govuk-inset-text" style="margin-top:0;">
  <h3>Examples</h3>

  In DfE user research, these topics could arise in many different ways, Some possible examples are:

  - During research about safeguarding procedures in schools, a participant mentions a serious concern they dealt with involving a child
  - An early years practitioner mentions that a situation at work left them feeling very anxious, but felt they had no mental health or wellbeing support
  - A social worker talks about the stress and pressure they face in their role
  - A small business owner who employs apprentices mentions that they have financial concerns
  - An trainee teacher who is a foreign national says that they are worried about their visa status and whether they and their family will be allowed to remain in the UK
</div>


When researching sensitive topics, the risk of aggressive or discriminatory behaviour can be heightened. It’s important to know how to look after yourself and others in these situations, both psychologically and <!--<a href="">-->physically<!--</a>-->. 

Participants can behave in a discriminatory way towards researchers or observers, or express discriminatory views, which might include racism, sexism, and homophobia, amongst [other protected characteristics](https://www.gov.uk/discrimination-your-rights). This does not have to be directly targeted at any individual in the research session to have a harmful effect.

Your research plan should detail what steps you will take to protect yourself, your team, and your participants, even if you are not directly researching distressing or emotionally sensitive topics. You should think about each phase of research, including planning, carrying out the research, doing the analysis and running playbacks. You could lead your team in a [workshop to identify ways to take care of your participants and yourselves during your research work (DfE SharePoint users only. Opens in a new tab)](https://educationgovuk.sharepoint.com/sites/lvewp00449/WorkplaceDocuments/Forms/AllItems.aspx?id=%2Fsites%2Flvewp00449%2FWorkplaceDocuments%2F2%2E%20Templates%20and%20resources%2FResearching%20Safely%20resources&viewid=397dfaf9%2Db299%2D431c%2Dad1e%2D0312e2bb5cf4).

[Read more about emotionally sensitive research on the GOV.UK Service Manual.](https://www.gov.uk/service-manual/user-research/researching-emotionally-sensitive-subjects)

## Distress protocols

If you believe your research is likely to cover emotionally sensitive subjects, you should prepare [a distress protocol (DfE SharePoint users only. Opens in a new tab)](https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Researching%20Safely%20resources/UR%20Distress%20Protocol%20Template%20v1.docx?d=wf81fec9b985c426fbd7f815d0ae9b881&csf=1&web=1&e=09HMCl).

A distress protocol sets out the steps to take if yourself, a team member, or a participant becomes distressed during research. It means that you can safeguard yourself and go into research feeling prepared. For example, a distress protocol could set out what steps the researcher will take if a participant behaves in a discriminatory way. This could include steps the researcher would take to end the session quickly and safely.

It’s a good idea to communicate and circulate any distress protocols to your team before you go into research, especially if any of them are observing or note taking - this means they can also feel safe and prepared. It also means they will understand the circumstances when a researcher may need to end a research session.

You could agree on a method for observers to alert facilitators to any concerns or distress, for example via slack messaging.

## Ending a research session where you feel uncomfortable or distressed

Ending a research session early needs to be done safely and sensitively to avoid a situation escalating or causing a participant to feel that their time has not been valuable to you.

It is important to note that any researcher, whether they are permanent staff or a contractor, can end a research session if they are distressed by what has happened or something that has been said. Just as you would never be expected to carry on a session if you felt unwell, you are not expected to carry on in a session where you have been made to feel (directly or indirectly) uncomfortable or upset.

Phrases you could use to end a research session quickly and safely if you’re distressed:

- “Ok \[name\], let’s finish the interview here. I have everything I need. Thank you for your time”
- “That’s been really helpful - thank you. I know you’re busy and I have everything I need, so let’s wrap things up here”
- “Ok, \[name\], we’ve covered everything we needed to today, which is great. I’m going to end the session here - thank you so much for your time”

## Taking care of yourself and your team

There are resources within DfE that could help if you’re experiencing burnout, compassion fatigue, or vicarious trauma:

- The department has a network of [Mental Health First Aiders (DfE intranet)](https://educationgovuk.sharepoint.com/sites/lvewp00051) who are trained in helping people with their mental health and wellbeing.
- [DfE wellbeing sources of support (DfE intranet)](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Wellbeing.aspx)
- [Employee Assistance Programme (DfE intranet)](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Employee-assistance.aspx)

### What your team can do to help

Within your team, there are steps that can be taken to look after researchers and other team members.

Encourage your team to get involved with user research, to create a shared understanding of experiences of both participants and user researchers. However, give team members the option to opt out of research that they do not feel comfortable with. If this means someone feels unable to work on a particular project, they should raise this with their line manager.

Set the expectation in your team that researchers need time before research to prepare, and after research to decompress. Set the expectation that the team can attend debriefs where researchers, note takers, and observers can talk about what they’ve heard and seen in research.

Clearly set out the “ground rules” you need to follow to get the most out of your research - for example, briefing your team on how to be a good note-taker.

Only do research that you have identified as 'high risk' where it is absolutely necessary. For example, there is a gap in existing internal and externally published knowledge that must be addressed through new primary research for your project to proceed.

For projects that include researching distressing subjects, you could [run a workshop with your team before the research to think about what this might involve, and how you could take care of each other (DfE SharePoint users only. Opens in a new tab)](https://educationgovuk.sharepoint.com/sites/lvewp00449/WorkplaceDocuments/Forms/AllItems.aspx?id=%2Fsites%2Flvewp00449%2FWorkplaceDocuments%2F2%2E%20Templates%20and%20resources%2FResearching%20Safely%20resources&viewid=397dfaf9%2Db299%2D431c%2Dad1e%2D0312e2bb5cf4).

If you need to read distressing reports, for example Serious Case Reviews, you could plan team ‘pair reading’. Team members ‘pair up’ so that you are reading on the same day and can talk to each other about what you’ve read.

Provide warnings at the start of presentations if you are presenting sensitive material.

### What you can do to protect yourself

There are things at an individual level that could help to protect yourself from burnout, compassion fatigue, or vicarious trauma:

#### Time management

Try not to schedule more than 3 or 4 research sessions per day where possible.

Set firm boundaries about your working hours with your team and any participant recruitment agencies you work with. There are times when we need to be more flexible, e.g. early morning or evening research, but this should not be at the expense of your well-being.

Booking time off in advance and making use of any accrued flexi-time. It’s important to proactively book annual leave to ensure you’re getting the right balance.

Give yourself permission to take time after research and engage in debriefs, and to block out time in your calendar before and after research sessions. Block out your lunch break in your calendar and take it.

Try to limit meeting attendance on research days, especially when working remotely. Treating remote research days the same as in-person research can help to keep the focus on research and also limit disruption to downtime in between sessions.

Always maintain work/life boundaries and signpost any stresses or concerns to your line manager, so that they can support you.

#### Self-care

Be intentional with your self-care, e.g put a [wellness action plan](https://www.mind.org.uk/workplace/mental-health-at-work/wellness-action-plan-sign-up/) in place to document the steps you will take in your day-to-day life to safeguard your mental health. You may want to consider setting up a wellness action plan if you know in advance that sensitive or distressing topics might arise in your research. Ask someone you trust to hold you accountable for your researcher self-care.

Take the time to understand the signs of burnout and vicarious trauma, so you can act before it takes hold.

Do activities that help promote your wellbeing. Everyone will have different ideas about what helps them, but here are some suggestions:

- Daily wellbeing practice: do something you find helpful or comforting during stressful times. The NHS has tips on the [5 steps you can take to look after your mental wellbeing](https://www.nhs.uk/mental-health/self-help/guides-tools-and-activities/five-steps-to-mental-wellbeing/).
- List your daily achievements, whether big or small. It’s easy to get lost in the details and forget that the big wins depend on the smaller actions we take daily. When you’re struggling to get motivated or tick things off your list, it can be helpful to remind yourself of your achievements.
- Spend some time [reflecting after difficult sessions (DfE SharePoint users only)](https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Researching%20Safely%20resources/UR%20Reflective%20practice%20template%20v2.docx?d=w3542901ab3904991a2f4a7e0c15f28ad&csf=1&web=1&e=009apq) to help you process what you've heard

Engage in our user research community, and talk to user researchers and other people who have similar working experiences to you.

#### Research practice

Put a distress protocol in place in advance of doing the research. End research sessions as soon as possible if you experience something that distresses you, your team members or observers.

Where possible, don’t research alone.

#### Team working

Look out for your colleagues and flag when you are concerned about them. This could be to your team member, delivery manager, a senior researcher or your line manager.

Recognise where you have [control vs influence](https://www.nilsneubauer.de/2020/11/19/control-versus-influence.html) in your team, and distinguish between the two. Learn to say no and set boundaries.

## DfE resources

- [Participant safeguarding in user research standard](https://user-research.education.gov.uk/standards-and-principles/participant-safeguarding/)
- [safeguarding policy](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Safeguarding.aspx) (DfE intranet)
- [Wellbeing guidance](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Wellbeing.aspx) (DfE intranet)
- [Mental Health First Aiders (DfE intranet)](https://educationgovuk.sharepoint.com/sites/lvewp00051)
- [Resources to help you research safely](https://educationgovuk.sharepoint.com/:u:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Researching%20Safely%20resources/Ethics%20Workshop%20template%20v1.url?csf=1&web=1&e=OLqJmt) (Dfe user research SharePoint)
- [Wellbeing sources of support](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Wellbeing.aspx) (DfE intranet)
- [Employee Assistance Programme](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Employee-assistance.aspx) (DfE intranet)

## Further reading

- [Making research safer for everyone (GOV.UK user research in government blog)](https://userresearch.blog.gov.uk/2018/11/20/making-research-safer-for-everyone-involved/)
- [Loneliness (Mind](https://www.mind.org.uk/information-support/tips-for-everyday-living/loneliness/about-loneliness/))
- [Clic, a free online community to support everyone with their mental health](https://clic-uk.org/)
- [NHS Mental Health Hub](https://www.nhs.uk/mental-health/)
- [Where to get urgent help for mental health (NHS)](https://www.nhs.uk/nhs-services/mental-health-services/where-to-get-urgent-help-for-mental-health/)
- [Contact the Samaritans](https://www.samaritans.org/how-we-can-help/contact-samaritan/)
- [Experiencing Burnout as a User Researcher, Nikki Anderson, MA (Linked In)](https://www.linkedin.com/in/nikkianderson-ux/)






{% endmarkdown%}

{% endblock %}