{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "ethics_safeguarding" %}
{% set pageName = "Research with internal users" %}
{% set pageDescription = "Ethical risks and considerations when researching with colleagues and other internal staff." %}

{% block content %}

{% markdown %}

<div class="govuk-!-margin-top-0" style="margin-bottom:30px; background: #e6f0f5;">
  <div class="dfe-width-container" style="padding: 20px 20px 4px;">
    <p>This guidance is currently under review, and some details may be out of date or incorrect. Ask resdearch operations, your lead user researcher or the head of user research if you're not sure.</p>
    <p>Updated guidance will be published soon.</p>
  </div>
</div>


Internal research involves doing research with DfE colleagues. This could include research related to a DfE service, for example operational staff who process work or provide phone support to end users, or research related to internal products and services like this website, or research about their experiences of working in the department. 

Internal research requires serious ethical consideration, just like external research.

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#overview">Overview</a></li>
    <li><a href="#decide-what-data-to-collect">Decide what data to collect</a></li>
    <li><a href="#recruiting-participants">Recruiting participants</a></li>
    <li><a href="#getting-consent">Getting consent</a></li>
    <li><a href="#best-practice-in-the-research-session">Best practice in the research session</a></li>
    <li><a href="#anonymise-the-data-ready-for-sharing">Anonymise the data ready for sharing</a></li>
    <li><a href="#after-research-sessions">After research sessions</a></li>
    <li><a href="#further-considerations">Further considerations</a></li>
    <li><a href="#dfe-resources">DfE resources</a></li>
    <!--<li><a href="#further-reading">Further reading</a></li>-->
  </ul>


## Overview
<!--
<div class="govuk-inset-text">
  <p>Following this guidance will help you meet our <a href="#">research planning standard</a></p>
</div>
-->

Internal research gathers the honest opinions and experiences of our staff, and you must follow similar ethical and data management processes as external research. 

Whilst information about companies or public authorities is not subject to UK GDPR, information that relates to employees, like the name of a staff member, their role and anything else that can identify them, is personal data. 

Some processes involved in internal research ethics can seem more rigorous than the processes used for external research. For example, it is far more likely that internal participants could be recognised from recordings of sessions – they could even be identified from quotes. This could potentially make participants feel uncomfortable and anxious, especially if you have discussed sensitive or controversial topics. 

## Decide what data to collect

Make sure you only collect data that you need. Think carefully about collecting data like video and audio, as it can make participants feel uncomfortable. Using such data internally may also identify participants even when care is taken. If you’re not sharing this data, you may not wish to collect it. 

It’s a good idea to think about the following questions:

- how are you going to use the data you collect?
- does the benefit of having the data outweigh the risk of participants feeling uncomfortable?

There are situations where you benefit from collecting audio or video data. For example, you may not have a notetaker in your team and want a recording to help complete your notes after the session. If you’re not going to share the recording after, consider deleting it once you’ve taken your notes. 

## Recruiting participants

It can be easier to recruit internal research participants compared to external research participants, but there are several things to bear in mind when you’re recruiting. 

If you’re putting calls out for participants in public places like Slack or Teams, there is the potential for other people to see who’s volunteered to take part in your research. Encourage people to contact you directly (via email or DMs) if they want to take part, instead of commenting in the thread. This will help to protect your participants’ anonymity.

It’s also important to remember that participants may not want to take part in your future research, especially as we don’t incentivise internal participants. Therefore, give the option to opt-in, rather than to opt-out.

Put calendar invites as private. When booking appointments make sure you set them as private so that others cannot see who is taking part in research. There’s often a padlock symbol when you create an invite.

Be aware that some participants may be in the office during your session. If your participant is surrounded by colleagues, this could affect what they say. To help mitigate this, you could book a room for them in their building. Or, you could ask them if they work at home some days and book the session for that day.

## Getting consent

You need to get consent from participants to collect and use their personal data. You need to use a different form than the one you use for consent for external research. Here is the internal research consent form template.
 
You must explain clearly:

- what the purpose of the research is
- what team you work in
- what you’ll broadly be asking the participants 
- what you’ll be doing with the data

Give internal participants the option to individually specify if they give consent to:

- notes being taken
- their audio being recorded
- their video being recorded
- their screens being recorded
- having a notetaker present
- having an observer present

Participants may feel obliged or pressured to take part in your research, especially if their manager or someone senior to them has put them forward for the research. Make it clear in your research information sheet and consent form that:

- participants are under no pressure to take part
- it won’t affect their job if they do or do not take part
- they can withdraw from the research at any time, including after the research

### How to get fully informed consent

Use the <a href="https://forms.office.com/Pages/ShareFormPage.aspx?id=yXfS-grGoU2187O4s0qC-TpreSlA-ZBGvYu3-EAfbT1UMUVTTFMzUllLQVk1UURBNVlPRkRPWUhBMy4u&sharetoken=lwFWkq2HixADbXXMRkAo">Internal Research consent form template</a>.

Be specific about who will have access to the raw data. For example, you could say ‘the only person who will have access to the raw data that will identify you is the researcher’. 

Be clear where the anonymised data will be shared. For example, ‘we will share your anonymised data with the Research Operations team and the user research community. We may also share it with other teams if it’s relevant to their work’. 

Name observers and notetakers where possible, as these may be colleagues or stakeholders that your participant doesn’t feel comfortable speaking to about certain topics. Be prepared for participants to not consent to observers and note takers being present due to this. 

If you’re not sure who observers and note takers will be at the time of sending consent forms, consider sending the information to the participant the day before (or sooner, if possible). If this is the case, let participants know they do not need to consent to notetakers/observers until you send over the names.  

If you’re taking precautions in order to protect anonymity, tell participants. For example, give reassurance that any recordings made of the research session will stay within the team and that they will not be shared in show and tells or presentations.

## Best practice in the research session 
<!--
### Anonymise data upfront

It’s best practice to anonymise data from the start. In reality, as long as there’s a list of names associated with the data, this is only pseudonymisation (i.e. data is not identifiable on it’s own, but is identifiable when matched with other data, like a recruitment tracker), but it’s still an excellent security measure. When you come to anonymise the data at the end of the research, it will be easier and there’s less risk of identification whilst the data is still raw. Please see GDPR guidance on the DfE service manual for further information on pseudonymisation and anonymisation. 

### How to anonymise data upfront

Use participant numbers. Participant numbers are a great way to pseudonymise your data rather than using names. Your codes can be simple - like ‘P1, P2, P3’ with ‘P’ standing for participants. Or they can be more complex like ‘P1R3’ where the ‘R’ tells you which round the participant took part in. Do not use initials though as they are too easy to work out. 

- use participant numbers for team sign up sheets. Although the observers and notetakers will learn the identity of the participant during the session, the rest of the team will not. 

- ask notetakers to use participant numbers. Notetakers are often not aware of the importance of anonymisation and put the name or initials of the participant at the top of the note taking sheet. 

Ask your notetaker to mark where identifiable information is. They can do this by highlighting or using capitals. This could include names of colleagues or statements like ‘as a wheelchair user’ which are very identifying for internal participants. This means when you read the notes you can quickly identify what you need to anonymise. 
-->

### Uphold anonymity 

The less formal nature of internal research can make participants forget about the importance of their anonymity. Whilst participants may be happy to share their thoughts with whomever, they cannot control the narrative once the researcher is interpreting their words. Office politics are tricky and it’s advisable that participants do not share they’ve taken part in research. You sometimes have to work harder with internal participants to make it clear that the session needs to be confidential for their own sake. You can do this by:

- making your research sessions private in participants’ calendars
- tell participants in the session why their taking part in research sessions needs to be confidential 

Whilst you can take these steps, we know that some participants still talk about research they’ve been part of. That’s their choice and you can only take steps to try to prevent it. 

### Other things to be aware of in the session

When you’re conducting a research session, it may also be possible to detect whether a participant has felt obligated to take part. Pay attention to the participants’ non-verbal cues, which might include:

- being overly keen to take part
- saying overly positive things
- blaming themselves when something did not work

## Anonymise the data ready for sharing

The rules around anonymisation of internal personal data may seem more rigorous because it’s easier for other colleagues to guess who the participants were.
 
When you are recording video/audio, voices are recognisable to people that know them. Even if you blur faces, participants might be identifiable from their clothing or accessories, for example something that you wear every day like an engagement ring. Whilst recording interviews helps check that your notes are correct, you should consider deleting them once you’ve completed your notes.
 
There may be internal research projects where it’s beneficial to share recordings. There may also be research projects where participants are happy to be recognised. However, just because it’s beneficial for stakeholders to see a video does not mean it’s beneficial to collect this data. Participants, even if they consent to being recorded, may be more guarded about what they say which could impact the quality of your research. 

## After research sessions

Share notes from the session with participants afterwards, to check they are happy with what’s on record. Be aware that participants may want to change what’s on record, and once the record is changed, you should not divulge the original contents.

### How to uphold anonymity in analysis, reports and presentations

It can be easy to fall into the habit of referring to participants by name, especially if they’re a close colleague. When you’re discussing research sessions within your team (outside of the session), you should refer to the participant by their role, grade, participant number or simply ‘a participant’. 

Be aware of upholding anonymity in presentations and show and tells. The way you refer to a participant can give away who they are; for example, if you refer to a participant by their job role, and there’s only one or two people doing that job in the department, it would be easy to guess who the participant is. As such, have a think in your team about how you can refer to participants. This could be wording like:

- a permanent member of staff
- a contractor/consultant
- a member of staff
- job role (providing that there are plenty of people doing this role), such as user researcher

You should stress to your team and any stakeholders that participants’ anonymity is a crucial part of good research practice. This means that the immediate team and the wider team should not be referring to participants by their names outside of research sessions. It also means that the team should not be publicly praising or thanking participants for taking part in research on public channels on Teams or Slack.

### How to quote internal participants 

People sometimes try to guess who said what in research playbacks. Give internal participants the option to individually specify if they consent to being quoted in things like show and tells, or if they just want a summary of their words being shown.

An example of a quote would be "I’ve had tons of problems with the leadership in my team", whereas a summary would be "some people have concerns about leadership". The quote and the summary are very similar, but an audience member wouldn’t know what had been said verbatim. Quotes can also give away a lot about how a person speaks, for example, if they use certain expressions or words regularly. Quotes, being word-for-word, can also be easier for the audience to take out of context. If someone works out who a participant is, they may take what they said out of context and this could cause issues.

## Further considerations 

### Power dynamics

If you're a civil servant user researcher, grade and seniority can lead to some unintended consequences.
For example, you might be an SEO researching with an AO or EO who is intimidated by your grade, or doesn't want to disagree with anything you say, or who feels like they don't have a choice around consent because you're senior to them and they're being told to take part. It’s important to make it clear that you aren’t a senior colleague in this situation – you’re a researcher.

### Biases as a researcher

As a user researcher in DfE, you may have conscious or subconscious biases. For example, you may have a poor impression of a particular team. When a participant tells you that they’ve had a really good experience in that team, you may find it hard to believe. Likewise, if a participant tells you something positive you may subconsciously downplay it if you have a bad impression. 

Before research, you may find it helpful to list out any potential biases or things that could influence your research findings. For example, you’ve worked on the team previously, you hold strong opinions about the research or you’re really good friends with the participant’s line manager.

It’s important to try and prevent bias wherever you can. Where possible, consider letting another researcher run the session if you think there’s a high risk of bias. It’s not always possible to prevent bias though, so you instead may want to caveat your research findings. 

When addressing bias, remember to: 

- only interpret the data the participant provided, do not add your own interpretations
- get a second opinion - you could ask another user researcher how they’d interpret something (just keep it anonymous)
- if there’s a risk your whole team may have a bias, caveat your findings in playbacks. E.g. ‘I know many of us developed this product, but I need us to only focus on what participants fed back to us’

## DfE resources

- <a href="/guidance/ethics-and-safeguarding/ethics-advice.html">Get further advice on research ethics questions</a>
- <a href="https://forms.office.com/Pages/ShareFormPage.aspx?id=yXfS-grGoU2187O4s0qC-TpreSlA-ZBGvYu3-EAfbT1UMUVTTFMzUllLQVk1UURBNVlPRkRPWUhBMy4u&sharetoken=lwFWkq2HixADbXXMRkAo">Internal research consent form template</a>

<!--
## Further reading

- <a href="">RELATED LINKS???</a>
-->



{% endmarkdown%}

{% endblock %}