{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Home" %}
{% set pageName = "Department for Education User Research Manual" %}
{% set pageDescription = "Guidance and support for any user researcher working in Department for Education." %}

{% set isPreElectionPeriod = false %}


{% block hero %}
<section class="dfe-page-hero">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-font-size-80">User research</h1>
            <p class="govuk-body-l">{{pageDescription}}</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}

{% if isPreElectionPeriod %}
   <section style="background: #ffffff;">
      <div class="dfe-width-container">
         <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
               Important
            </h2>
            </div>
            <div class="govuk-notification-banner__content">
            <p style="font-weight:bold; max-width:44em;">
               We are currently in a pre-election period, before the Local Authority, mayoral, Scottish Parliament and Welsh Senedd elections on Thursday May 7 2026. You must follow the <a href="/guidance/pre-election-periods-26/">guidance for conducting user research in DfE during a pre-election period</a>.
            </p>
            </div>
         </div>
      </div>
   </section>
{% endif %}

   <section style="background: #ffffff;">
      <div class="dfe-width-container">
         <h2 class="govuk-heading-l">Support and guidance</h2>
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-grid-container dfe-grid-container--wider">
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/your-ur-career-at-dfe/information-for-new-starters">Information for new starters</a>
                        </h2>
                        <p>Information for anybody joining DfE as a civil servant or contractor user researcher.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/community-of-practice/research-operations.html">Research operations</a>
                        </h2>
                        <p>Help with recruiting participants, as well as other support and advice.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/guidance">Guidance library</a>
                        </h2>
                        <p>Guidance and advice about how we plan and deliver user research in DfE.</p>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </section>


   <section class="dfe-section govuk-!-margin-top-0 govuk-!-margin-bottom-9">
      <div class="dfe-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-banner  govuk-!-margin-top-5">
                  <div class="dfe-banner__content-container">
                     <div class="dfe-banner__inner-content-container">
                        <h2 class="govuk-heading-l">
                           <a class="govuk-link govuk-link--no-visited-state" href="/community-of-practice/">Community of practice</a>
                        </h2>
                        <p>Meetups and Teams channels for our active and friendly user research community of practice.</p>
                       
                     </div>
                  </div>
                  <div class="dfe-banner__image-container">
                     <figure class="dfe-a-image dfe-a-image--cover">
                        <picture class="dfe-a-image__picture">
                           <source srcset="/assets/images/sticker.webp" type="image/webp">
                           <img src="/assets/images/sticker.png"  alt="Badge showing an otter with a magnifying glass, surrounded by the words 'Department for Education User Research Community'">
                        </picture>
                     </figure>
                  </div>
               </div>
   
            </div>
         </div>
      </div>
   </section>

   <section>
      <!-- Principles -->
      <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">
         <h2 class="govuk-heading-l">Our community principles for delivering great user research</h2>
         <p><a href="/community-of-practice/principles.html"  class="govuk-link govuk-link--no-visited-state">Read about our UR community principles</a></p>
         <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 1 </span>We include all of our users, and bring them to the heart of the department’s work</h3>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 2 </span>We are objective and use evidence</h3>
               </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 3 </span>We do high quality, safe and ethical research</h3>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 4 </span>We are adaptable and collaborative, and focus our research in the right places</h3>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 5 </span>We learn as a community and by ourselves</h3>
            </li>
            <li class="card">
               <h3><span class="govuk-caption-m">Principle 6 </span>We celebrate our work, and help others understand what we do</h3>
            </li>
         </ul>
      </div>

      <!--Job vacancies
      <div class="dfe-width-container" style="padding: 0px">
         
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
            </div>
         </div>
         
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">Current user research job vacancies</h2>
               {% include 'includes/_vacancies.html' %}
            </div>
         </div>
      </div>
   </section>-->
{% endblock %}

