{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "recruiting_particpants" %}
{% set pageName = "Using or building a panel to recruit participants" %}
{% set pageDescription = "Rules and guidance for building and using participant recruitment panels in DfE." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

A participant recruitment panel is a managed list or database of people who have expressed an interest in taking part in research, by sharing some of their details with us. This allows us to invite them to participate in user research sessions appropriate to them.

We have a plan to build panels to support recruitment of all of our major user groups in DfE. Before you build a panel, you must speak to the Research Operations team or head of user reesarch, to ensure you aren't duplicating panels that have already been created.

<div class="govuk-inset-text">
  If you are working in the Services for Schools portfolio, you may be able to recruit participants using the central <a href="#schools-users-panel">Schools User Panel</a>, which is currently in Private Beta testing.
</div>

<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#what-panels-are">What panels are</a></li>
    <li><a href="#schools-users-panel">Schools users panel</a></li>
    <li><a href="#when-to-build-a-panel">When to build a panel</a></li>
    <li><a href="#what-to-do-and-what-not-to-do">What to do, and what not to do</a></li>
    <li><a href="#future-plans">Future plans</a></li>
  </ul>

## What panels are

A panel is different from a small list of people that you might keep in your project. It is a larger list, often used to support multiple teams across a programme of work or portfolio. 

It will have a sign-up form that allows people to add their details and consent to being contacted again in the future.

A panel is a long-term investment, and can be a lot of effort to do properly and maintain over time, ethically and legally under UK GDPR. 

Because of this, you should carefully consider whether it is the correct approach for you, and it should always be done for a programme or portfolio of work, not just for a single team or project.

## Schools users panel

We are building a central panel of school leaders and schools business professionals, and a recruitment service managed by the Research Operations team.

This panel and service is being developed, and is in private beta testing. If you are working in the Services for Schools portfolio, you may be able to use it to recruit from.

<!--Research Operations perform this recruitment for you. You will give them a recruitment profile and your research timelines, and they will recruit people from the panel and book your research sessions.-->

Services for Schools user researchers can read <a href="https://educationgovuk.sharepoint.com/:w:/s/lvewp00473/EXPKb6QnskhGtJc8fegPx_cBi1C59AvQA-ep27GOS0xmcQ?e=mJaAxe">more information about this private beta service here (DfE SharePoint)</a>. You can also <a href="/community-of-practice/research-operations">contact the Research Operations team</a>, or <a href="/community-of-practice/leadership-team">speak to Kathryn King, lead user researcher in Services for Schools</a>.

## When to build a panel

Before deciding to build a panel, you should always check whether anybody else in the department already has a panel covering the same user group. Check with <a href="/community-of-practice/research-operations">Research Operations</a> first, then ask in the <a href="/community-of-practice/ur-slack-channels">main user research community Slack channel</a>.

If another user researcher, team or programme area already manages an existing panel that includes your users, you should first explore collaborating with them, rather than creating a new panel. This will avoid duplication of users (i.e. the risk of contacting the same users twice) and reduce duplication of effort across the user research community.

If other user researchers in your programme, portfolio or elsewhere in DfE will be using your panel to recruit participants, you will need processes for how they will access the data in a secure way. You might decide to have a person or group of people who are responsible for doing this.

Attracting people to your panel for them to sign up can take a lot of work. You can put banners on your service if it's hosted by DfE (not if hosted on GOV.UK). You can email lists of people that you have access to in your team, as long as these people have consented to be contacted. You must not use social media.

You can also visit places that your users attend (e.g. workplaces, conferences, etc) and let them sign up in person, as long as you have agreement from the venue to do this.

## What to do, and what not to do

If you decide to build your own panel, you must always <a href="/standards-and-principles/handling-participants-personal-data/">meet the DfE UR data management standard</a>, following <a href="/how-to-manage-participant-personal-data/using-lists-for-recruitment.html">the UR data management guidance</a>, to ensure you are collecting and managing your data in an ethical and UK GDPR-compliant way. 

You must ensure that the consent you gather from people is not specific to your own team and service, so that other user researchers could use this data, and so we can migrate the user data into a centrally-managed panel in the future.

You must always use existing departmental software (e.g. Microsoft products) where possible, and not buy specialist panel or participant management software (this software may be superseded, and the money may be wasted, when we introduce centrally-managed panels).

Your sign-up form must be accessible (and tested with users with access needs).

You must also ensure you have channels or methods for people with low digital skills to sign up to your panel (i.e. don't just use an online form).

You must not advertise it on social media (we're currently developing guidance for using social media in recruitment).

## Future plans

The schools users panel and Research Operations-led recruitment service, which is currently in private beta testing, is the first step in our plan to transform participant recruitment in DfE.

Our goal is to have a panel and service covering all of our major user groups, recruiting participants for any user researcher working in DfE. This will be cheaper than using commercial recruitment suppliers, and will reduce the risks related to self-recruitment.

Next, we plan to build a panel and service to support user researchers in our Vulnerable Children and Families portfolio. We hope to introduce this in early 2024.

See <a href="/community-of-practice/how-were-developing-ur-at-dfe.html">our profession roadmap</a>.

{% endmarkdown%}

{% endblock %}