{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "recruiting_particpants" %}
{% set pageName = "Using a commercial agency to recruit participants" %}
{% set pageDescription = "How to access DfE's contracted commercial supplier, and other suppliers." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

There are two main ways you can recruit participants for research. One is to <a href="self-recruitment.html">do it yourself</a>. The other is to pay a specialist participant recruitment supplier to do it for you.

We have a centrally contracted agency in DfE. In certain circumstances, you can also use other agencies.

<!--
<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#using-dfes-centrally-contracted-supplier">Using DfE's centrally contracted supplier</a></li>
    <li><a href="#using-a-different-supplier">Using a different supplier</a></li>
    <li><a href="#when-to-use-a-commercial-recruiter">When to use a commercial recruiter</a></li>
  </ul>
-->

## Using DfE's centrally contracted supplier

Every user researcher has access to a centrally-contracted and centrally-managed participant recruitment agency.

You can access this agency through our Contracts team. You will need to complete a commercial document called a statement of work (SOW), detailing the profile and number of users you need, your planned research dates, and details about your team and budget. 

There is a <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Participant%20recruitment/Recruitment%20supplier%20templates%20and%20process?csf=1&web=1&e=V7eTsc">guidance document and a set of templates and examples</a>  to help you access the supplier through the Contracts team. 

If you have not used the supplier before, would like some help drafting a SOW, or have any other questions, the <a href="/community-of-practice/research-operations">Research Operations team can support you with the process</a>. They can help you prepare your SOW, answer questions, and review your SOW to advise on anything you may have missed, before you send it to the Contracts team. 

### Budget and business case

There is a rate card showing the standard cost of recruiting different categories of user. <a href="/community-of-practice/research-operations.html">Research Operations can give you access to the rate card and provide advice on the costs</a>. 

You should ensure your team has budgeted for recruiting participants before you start. To access the supplier you will need to provide a business case for your project that covers the costs of user research. Your delivery manager will help you with this.

### Timelines

You must allow a minimum of 4 to 5 weeks before your research. This will ensure the agency has 2 full weeks to recruit your participants after the SOW has gone through the internal approval process. Make sure you plan ahead, and give the Contracts team as much notice as possible.


## Using a different supplier

It is also possible, although can be a lot of work, to procure your own supplier on a job-by-job basis. This can be useful, for example, to find a specialist recruiter for specific user groups that our central supplier cannot deliver for you.

If you want to do this, speak first to your lead user researcher, delivery manager or business support colleagues in your business area.

## When to use a commercial recruiter

Using a commercial recruiter can reduce a lot of time and effort in finding participants. However, they aren’t always the best choice for recruitment. Budget, project timelines and the type of user you’re trying to recruit may all mean that self-recruitment methods are more appropriate and will give you a better likelihood of successfully recruiting the right participants for your research. 

To help you decide, consider the following questions:

- do you have budget agreed for your team to pay for participant recruitment?
- is it at least 5 weeks before your planned research date?
- is the population of users you are recruiting from reasonably large?
- if you are recruiting people who work or study in schools or colleges, is the research in term time and outside of busy times of the year (e.g. exam periods)?

If the answer to all of these questions is ‘yes’ then a recruitment agency is a good option, However, if the answer to any of the questions is ‘no’, you should consider alternative methods instead.

### Defining a ‘reasonably large’ user population

There is no single answer to this: you will have a feel of how large your user populations are and how receptive they may be to recruitment approaches. You can also speak to the agency to get their opinion.

Generally speaking, every individual criteria you add to a recruitment profile reduces the pool of people that participants can be found from, and so makes the recruitment slightly more difficult.

For example, “Teachers” is a large population, and easy to recruit from; although may not be specific enough for your research needs. However, “Teachers in the first two years of their career, who are from an ethnic minority, who grew up in a low income family, and who are hoping to become a senior leader one day” might be so specific that a recruiter will struggle to find enough of them to recruit from.

In this case, you might consider widening the profile (i.e. prioritising which are the most important characteristics), or you might decide that self recruitment methods will be more likely to succeed than using a recruitment agency.


{% endmarkdown%}

{% endblock %}