{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Guidance" %}
{% set guidanceSection = "recruiting_particpants" %}
{% set pageName = "Recruiting participants yourself (self-recruitment)" %}
{% set pageDescription = "Rules and guidance for when doing your own participant recruitment." %}

{% block content %}

{% markdown %}

<!-- main page content starts here -->

There are two main ways you can recruit participants for research. One is to <a href="/guidance/recruiting-participants/commercial-agency.html">use a recruitment agency who will recruit participants for you</a>.

The other way you can recruit participants is to find them yourself, known as self recruitment. This can be done in a variety of ways, each with their own benefits and drawbacks. This document will explain what you can and cannot do when self recruiting in DfE. It will also look at some areas you should consider to make sure you’re following best practice. These include sampling bias and making sure your research is inclusive.

There is no preferred recruitment method. Use whichever method is best for you and your team.

<!--
<h2 class="govuk-heading-s">Page contents</h3>
  <ul class="govuk-list govuk-list--spaced">
    <li><a href="#how-self-recruitment-is-done-in-dfe">How self-recruitment is done in DfE</a></li>
    <li><a href="#methods-not-currently-used-at-dfe">Methods not currently used at DfE</a></li>
    <li><a href="#following-uk-gdpr-when-you-self-recruit">Following UK GDPR when you self recruit</a></li>
    <li><a href="#contacting-previous-participants-or-service-users">Contacting previous participants or service users</a></li>
    <li><a href="#asking-organisations-like-schools-and-charities">Asking organisations like schools and charities</a></li>
    <li><a href="#screeners-and-informed-consent">Screeners and informed consent </a></li>
  </ul>
-->

## How self-recruitment is done in DfE

Self recruitment can be done using a variety of methods. Each method has both benefits and drawbacks, and all need to be carried out in a compliant way. Some of the methods include: 

- contacting schools, charities and other organisations and asking if they can take part in research
- re-contacting people who have already taken part in previous research with your team or another team
contacting people who have used your service
- using banners on your website, signing people up at events or conducting pop-up research

How you can use these methods in a compliant way is detailed below.

### Recruiting school leaders for research

The user research team in our Services for Schools portfolio have created in-depth guidance for <a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00473/WorkplaceDocuments/Conducting%20research%20with%20School%20Leaders/Schools%20Portfolio%20-%20Recruiting%20users%20with%20leadership%20responsibilities%20in%20schools.docx?d=w0547892e465d486190f3d3ce92272c69&csf=1&web=1&e=0t79Ae">recruiting users with leadership responsibilities in schools (DfE users only)</a>.

## Recruiting family or friends

You should not recruit family and friends for research, except in exceptional circumstances (for example, you are struggling to recruit a niche user group, but personally know somebody who meets your criteria). 

If you do, you must ensure that you have a plan to avoid introducing sampling biases into your research, and that your research is still ethical and psychologically safe for the participant.

You must never offer a monetary incentive to a family member, friend, or anybody else who you have a close personal relationship with.

## Using social media for recruitment

You can use official DfE social media channels for recruitment. Speak to your policy or comms colleagues if you want to do this.

<!--
You must not use your personal social media accounts to recruit participants. Recruiting via social platforms like Facebook or X can open you or DfE up to negative backlash, and members of the public can also feel uncomfortable if researchers recruit through, for example, Facebook groups.

You can, if you wish, use your own social media accounts to share or repost official DfE posts.
-->
<!--
## Following the DfE personal data handling standard when you self recruit

No matter what method you use to self recruit, <a href="/standards-and-principles/personal-data-handling">you must meet the personal data handling standard</a>. This will ensure your recruitment meets departmental data policies under UK GDPR, and is ethical.
-->

## Contacting previous participants or service users

You can obtain data for self recruitment in several ways. This may be a list of participants that have taken part in previous rounds of research, participants that have taken part in another team’s research, contact details from a union or local authority, or a list of people who have used your service.

Before you contact people, you need to be confident that the data has been obtained and managed compliantly. Consider if: 

- the data has a retention period attached to it
- a paper trail exists where you could find evidence that people have agreed to be contacted for research
- that if you’re using a list from outside your team, that the people on that list have consented to being contacted about other research and not just the research they took part in. 

Whoever has given you the data should be able to provide you with this information. If you cannot evidence all of the above, or feel uncomfortable, do not continue with recruitment. If you believe that the data you received has not been handled correctly, inform whoever provided you with the data. 

If you are unsure, please contact the Research Operations Team. Please note that the Research Operations Team are not data experts and you may be referred to the Data Protection Assurance Team for further help.

## Asking organisations like schools and charities

You may already have a relationship with an organisation like a charity or school. You can ask these organisations to advertise your planned research but make sure you consider the burden you might be placing on them.

You can also approach organisations that you do not currently have a relationship with. However, be mindful that they may not have capacity, may already be helping other teams/departments or may even have had a negative experience in the past.

There is currently no central record in DfE of who teams have contacted. Before you start recruitment, speak to both internal and external teams who may have had contact with your user group. Ask them about their own recruitment experience to help inform your planning. To contact other Departments, consider using the <a href="http://ukgovernmentdigital.slack.com" target="_blank">UK Government Digital Slack channel (opens in a new tab)</a>.

When you contact a charity or organisation, make sure you tell them: 

- that you’re from DfE
- what you’re researching and the aim 
- when the research will take place 
- a DfE contact who can deal with any questions they might have
- a way to sign up (usually the researcher’s email)

Contact them using a generic email address rather than a personal one (e.g. enquiries&commat;charity.org.uk) unless the email on their website belongs to an employee or someone from the company has provided you with a named contact.

<!--
## Screeners and informed consent 

Screener templates and guidance are coming soon.

When you’re doing self-recruitment, you have to manage the end-to-end consent process yourself. You can read more about how to do this and find standard templates in the community folder. 
-->

{% endmarkdown%}

{% endblock %}