 {{ header({
    "showNav": "true",
    "showSearch": "true",
    "showUserName": "false",
    "userName": "",
    "userNameURL": "",
    "selectedNav": selectedNav,
    "logoPath": "assets/images",
    "searchInputName": "searchterm",
    "service": {
      "name": serviceName,
      "serviceUrl": "/"
    },
    "primaryLinks": [
      {
      "url"  : "/",
      "label" : "Home"
      },
      {
      "url"  : "/community-of-practice",
      "label" : "Community"
      },
      {
      "url"  : "/your-ur-career-at-dfe",
      "label" : "Your career"
      },
      {
      "url"  : "/guidance",
      "label" : "Guidance"
      },
      {
      "url"  : "/templates-and-tools",
      "label" : "Templates and tools"
      },
      {
      "url"  : "/research-insight",
      "label" : "Research insight"
      }
    ]
  })
}}